// function_panel setting   ------------------------
.function_panel {   
    margin: .2em 0;
    padding: .5em 0 .5em;
    min-height: 35px;
    // border-top: 1px solid #DDD;
    // border-bottom: 1px solid #DDD;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-end;
    align-items: center;

    @include screen('mobile') {
        margin: .6em 0;
        padding: .5em 0 .5em;
    }
    .share { flex:0 0 auto; }
    .function { flex:0 0 auto; }
    .publish_time {
        flex:1 1 auto;
        min-width: 100px;
        display: block;
        color:#666;
        span{
            font-size:.938em;
            @include screen('mobile') { display:none; }
        }
        time{
            font-family:georgia;
            font-size:1.125em;
            @include screen('mobile') { font-size:.938em; }
        }
        &:before {
            content: "";
            display: inline-block;
            width: 12px;
            height: 12px;
            top:.3em;
            background: url(../images/basic/icon_time.png) no-repeat center center;
            background-size: 12px;
        }
    }
}


// function   ------------------------
$function_color:#666;

//可自訂顏色，或是自帶既有變數，但請注意背景色與字的對比度
//icon基本設定
%function_before {
    vertical-align: middle;
    content: "";
    width: 1.2em;
    height: 1.2em;
    margin-right: .5em;
    display: inline-block;
}
div.function{
    box-sizing: border-box;
    @extend %clearfix;
    margin: .5em 0;
    ul {
        @include li-reset;
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
        li {
            margin: 0 0px 0px 3px;
            flex:0 0 auto;
            button, a {
                font-size: .813em;
                display: block;
                padding: .2em 1em;
                background: $function_color;
                border-color: $function_color;
                color: #FFF;
                border-radius: 4px;
                &:hover,
                &:focus {
                  background: darken($aHover, 0);
                  border-color: darken($aHover, 0);
                }
            }
            // 回上一頁
            &.icon_back {
                a:before {
                    @extend %function_before;
                    background: url(../images/basic/icon_back.svg) no-repeat center center;
                    background-size: 16px;
                }
            }
            // 友善列印
            &.icon_print {
                a:before {
                    @extend %function_before;
                    background: url(../images/basic/icon_print.svg) no-repeat center center;
                    background-size: 20px;
                }
            }
            // 轉寄友人
            &.icon_forward {
                a:before {
                    @extend %function_before;
                    background: url(../images/basic/icon_forward.svg) no-repeat center bottom;
                    background-size: 20px;
                }
            }
        }
    }
}
// 放進function_panel樣式
.function_panel {
    .font_size{
        padding: 0;
        flex: initial;
    }
    .function {
        height: 32px;
        margin: 0;
        ul {
            display: flex;
            li {
                font-size: 1em;
                margin: 0 .2em;
                flex:0 0 32px;
                a {
                    display: block;
                    box-sizing: border-box;
                    width: 32px;
                    height: 32px;
                    text-align: center;
                    line-height: 32px;
                    border-radius: 50%;
                    background: #F1F1F1;
                    text-indent: -9999px;
                    position: relative;
                    &:hover, &:focus {
                        background: $aHover;
                        color: #FFF;
                        &:before { filter: invert(100%); }
                    }
                    &:before {
                        content: "";
                        position: absolute;
                        width: 60%;
                        height: 60%;
                        top: 20%;
                        left: 20%;
                    }
                }
                &.back {
                    a:before {
                        background: url(../images/basic/icon_back-style2.svg) no-repeat center center;
                        background-size: 100%;
                    }
                }

                &.print {
                    a:before {
                        background: url(../images/basic/icon_print-style2.svg) no-repeat center center;
                        background-size: 100%;
                    }
                    @include screen('mobile') { display: none; }
                }
                &.forward {
                    a:before {
                        background: url(../images/basic/icon_forward-style2.svg) no-repeat center center;
                        background-size: 100%;
                    }
                }
            }
        }
    }
}

// share 基本樣式   ------------------------
.share {
    box-sizing: border-box;
    margin: .5em 0;
    ul {
        @include li-reset;
        display: flex;
        li {
            margin: 0px 3px 3px;
            flex:0 0 32px;
            a{
                display:block;
                height: 32px;
            }
            @include screen('tablet') {
                margin: 0px 1px 2px;
                width: 32px;
                height: 32px;
            }
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
// 放進function_panel樣式
.function_panel {
    .share {
        box-sizing: border-box;
        text-align: center;
        height: 32px;
        margin: 0 4px;
        position:relative;
        a.shareButton{
            display: block;
            background: #F1F1F1;
            border-radius: 50%;
            width: 32px;
            height: 32px;
            text-indent:-9999px;
            text-align: center;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                width: 60%;
                height: 60%;
                top: 20%;
                left: 20%;
                background: url(../images/basic/icon_share.svg) no-repeat center center  !important;
                background-size: 24px !important;
            }
            // img {
            //   width: 60%;
            //   height: 60%;
            //   margin: 20% auto;
            // }
            &:hover, &:focus {
                background: $aHover;
                // img {
                //   filter: invert(100%);
                // }
                &:before { filter: invert(100%); }
            }
        }
        ul {
          display: none;
          position: absolute;
          top: 2.5em;
          left: -6px;
          // width: 44px;
          padding: 6px;
          background: #FFF;
          box-shadow: 2px 2px 5px RGBA(0, 0, 0, .2);
          border-radius: 8px;
          z-index: 999;
          height: auto;
          li {
            display: block;
            margin: 0 auto.5em;
            &:last-child{
              margin-bottom: 0;
            }
            img {
              width: 100%;
              height: 100%;
              margin: 0 auto;
            }
            a {
              background: transparent;
              display: block;
              padding: 0;
              width: 32px;
              height: 32px;
              &:hover, &:focus {
                background: transparent;
                img {
                  filter: grayscale(1);
                }
              }
              &:focus {
                // outline: 1px solid $primaryColor;
              }
            }
          }
        }
    }
}