.lp {
    table {
        td {
            a {
                @include aSetting_nocolor;
            }
            &.date {
                text-align: center;
                color: #666;
                @include screen('mobile') {
                    text-align: left;
                }
            }
            &.num {
                text-align: center;
                color: #666;
                @include screen('mobile') {
                    text-align: left;
                }
            }
        }
    }
    .list {
        &>ul, ol {
            list-style-type: none;
            padding: 0;
            border-top: 2px solid $primaryColor;
            &>li {
                padding: 1em 0;
                border-bottom: 1px solid #DDD;
                position: relative; // outline: 1px solid blue;
                .tag {
                    margin-left: 2em;
                }
                &>a {
                    display: block;
                    padding-left: 2em;
                    position: relative;
                    line-height: 1.45em;
                    color: $color-word;
                    &:hover {
                        color: $aHover;
                    }
                    .num {
                        width: 1.5em;
                        text-align: right;
                        position: absolute;
                        top: 0;
                        left: 0;
                        &:after {
                            content: ".";
                            display: inline-block;
                        }
                    }
                }
                span.dept {
                    display: inline-block;
                    font-size: .938em;
                    @include screen("mobile") {
                        display: block;
                    }
                }
                time {
                    display: block;
                    color: #AAA;
                    font-size: .938em;
                }
            }
        }
    }
}

// .album {
//     margin: 1em auto;
//     ul {
//         @include li-reset;
//         display:flex;
//         flex-direction:row;
//         justify-content:flex-start;
//         align-items:stretch;
//         flex-wrap:wrap;
//         li{
//             flex:0 0 30%;
//             margin:0 1.66% 3%;
//             display:flex;
//             flex-direction:row;
//             align-content: stretch;
//             @include screen('tablet'){
//                 flex:0 0 46%;
//                 margin:0 2% 3%;
//             }
//             @include screen('mobile'){
//                 flex:0 0 96%;
//                 margin:0 3% 5%;
//             }
            
//         }
//     }
// }
