.megamenu {
    box-sizing: border-box;
    position: relative;
    z-index: 99;
    // 預設選單 ul
    clear: both;
    @include screen('mobile') {
        display: none;
    }
    >ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        // 第一層選單樣式
        >li {
            flex: 0 1 calc(100% / 6);
            >a {
                display: block;
                padding: 0 1em;
                min-height: 2.5em;
                font-weight: bold;
                line-height: 2.5em;
                color: $color-word;
            }
            &.hasChild {
                >a {
                    &:after {
                        content: '';
                        width: 4px;
                        height: 4px;
                        display: inline-block;
                        margin-left: .5em;
                        vertical-align: middle;
                        border: 2px solid lighten($color-word, 40);
                        transform: rotate(135deg);
                        border-bottom: none;
                        border-left: none;
                        margin-bottom: .2em;
                    }
                }
            }
            &:hover {
                >a {
                    color: $aHover;
                    &:after {
                        border: 2px solid $aHover;
                        border-bottom: none;
                        border-left: none;
                    }
                }
            }
        }
    }
    ul {
        li {
            a {
                display: block;
                outline: none;
                text-decoration: none;
            }
            // 第二層選單樣式
            ul {
                // display: none;
                display: flex;
                overflow: visible;
                width: 100%;
                background: rgba(0, 0, 0, .8);
                padding: 15px;
                margin: 0;
                z-index: 999999;
                position: absolute;
                top: auto;
                left: 0;
                right: 0;
                list-style: none;
                text-align: left;
                align-items: flex-start;
                flex-wrap: wrap;
                li {
                    flex: none;
                    flex-basis: 23%;
                    margin: 0 1%;
                    padding: 0;
                    a {
                        padding: .6em 1.2em;
                        color: #FFF;
                        font-weight: bold;
                        box-sizing: border-box;
                        &:hover, &:focus {
                            background: $aHover;
                        }
                    }
                    // 第三層選單樣式
                    ul {
                        margin: 0 0 20px;
                        padding: 0!important;
                         background: #fff;
                        li {
                            margin: 0;
                            padding: 0;
                            a{
                                padding: .8em 1.2em;
                                color:#000;
                                &:hover, &:focus{
                                    color:#fff;
                                }
                            }
                            ul {
                                margin: 0;
                                padding: 0!important;
                                li{
                                    a{
                                        padding: .8em 1.2em .8em 2.2em;
                                    }
                                    
                                }
                            }
                        }
                    }
                }
                li.hasChild {
                    >ul {
                        position: relative;
                        z-index: 999;
                        top: 0;
                        left: 0;
                        animation: none;
                        display: block;
                        li {
                            display: block;
                            width: 100%;
                            >a {
                                &:hover,
                                &:focus {
                                    background: $primaryColor;
                                }
                            }
                        }
                    }
                }
                ul {
                    top: 0;
                    left: 100%;
                    animation: none;
                    font-size: 1em;
                }
            }
        }
    }
}
// 行動版選單sidebar
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999999;
    display: none;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
    box-sizing: border-box;
    .megamenu {
        display: block;
    }
    >.menu_overlay {
        background: RGBA(0, 0, 0, .5);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 9;
        display: none;
        overflow-x: hidden !important;
        overflow-y: auto !important;
    }
    .m_area {
        &:before {
            content: "";
            width: 280px;
            position: absolute;
            top: 0;
            left: 0;
            color: #FFF;
            width: 100%;
            height: 3em;
            background: $primaryColor;
            padding: 0 1em;
            line-height: 3em;
            box-sizing: border-box;
        }
        width:280px;
        padding: 3em 0;
        position:absolute;
        top: 0;
        left: 0;
        height: 100%;
        background: $primaryColor;
        overflow:hidden;
        overflow-y: auto;
        z-index: 9999;
        -webkit-overflow-scrolling: touch;
        -webkit-transform: translate3d(0, 0, 0);
        box-sizing: border-box;
        .megamenu {
            width: 100%;
            @include box-shadow(0px 0px 4px RGBA(0, 0, 0, .4));
            margin-bottom: 1em;
            background: #CCC;
            a {
                display: block;
                color: #222;
                text-decoration: none;
                transition: .4s ease-out;
                text-align: left;
            }
            ul {
                display: flex;
                li {
                    flex: 1 1 100%;
                    flex-direction: column;
                    >a {
                        padding: .5em 1em;
                        min-height: 2em;
                        line-height: 2em;
                        background: #FFF;
                        border-bottom: 1px solid #CCC;
                    }
                    &.hasChild {
                        >a {
                            padding: .5em 1em;
                            color: #222;
                            background: #FFF;
                            padding-right: 36px;
                            position: relative;
                            &:after {
                                content: '';
                                position: absolute;
                                right: 16px;
                                top: 1.25em;
                                width: 5px;
                                line-height: 1.25em;
                                height: 5px;
                                border: 2px solid #222;
                                transform: rotate(45deg);
                                border-top: none;
                                border-left: none;
                                transition: .3s;
                            }
                        }
                    }
                    ul {
                        display: none;
                        position: relative;
                        width: 100%;
                        padding: 0;
                        background-color: transparent;
                        font-size: 0.938em;
                        li {
                            a {
                                display: block;
                                min-height: 1.5em;
                                line-height: 1.5em;
                                padding: .5em 1em .5em 2em !important;
                                background: #eee;
                                &:hover,
                                &:focus {
                                    color: #000;
                                    background: #ccc;
                                }
                            }
                            &.hasChild {
                                >a {
                                    background: #eee;
                                }
                            }
                            li {
                                a {
                                    background: rgba(0, 0, 0, .15) !important;
                                    padding: .5em 1em .5em 4em !important;
                                    border-bottom: 1px solid #BBB;
                                    &:hover,
                                    &:focus {
                                        background: rgba(0, 0, 0, .25) !important;
                                    }
                                    &:after {
                                        display: none !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .navigation {
        position: relative;
        text-align: left;
        ul {
            float: none;
            width: 90%;
            margin: 1em auto;
            padding: 0;
            overflow: hidden;
            list-style: none;
            border: 1px solid rgba(255, 255, 255, .5);
            border-bottom: none;
            border-right: none;
            li {
                float: left;
                width: 50%;
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                &:nth-child(odd):last-child {
                    width: 100%;
                }
                a {
                    display: block;
                    height: 3em;
                    line-height: 2em;
                    padding: .5em 1em;
                    font-size: .938em;
                    color: #FFF;
                    font-weight: bold;
                    text-decoration: none;
                    border: 1px solid rgba(255, 255, 255, .5);
                    box-sizing: border-box;
                    &:nth-child(odd) {
                        border-left: none;
                        border-top: none;
                    }
                    &:hover,
                    &:focus {
                        background: darken($primaryColor, 20);
                    }
                }
            }
        }
        .language {
            position: relative;
            width: 100%;
            @include gutter;
            a {
                padding: .6em 1em;
                background: rgba(0, 0, 0, .4);
                &:after {
                    top: 1.3em;
                }
                &:before {
                    top: .8em;
                }
            }
            ul {
                width: 100%;
                margin: 0;
                position: relative;
                top: 0;
                padding: 0;
                border: none;
                background: none;
                li {
                    width: 100% !important;
                    a {
                        border: none;
                        background: rgba(0, 0, 0, .4);
                    }
                }
            }
        }
    }
    button.sidebarClose {
        position: absolute;
        display: block;
        width: 3em !important;
        height: 3em !important;
        padding: 0;
        min-width: auto;
        top: 0px;
        right: 0px;
        margin: 0;
        text-indent: -9999px;
        border: none;
        background: none;
        border: none;
        &:before {
            position: absolute;
            width: 15px;
            height: 15px;
            border: 3px solid #eee;
            content: "";
            top: 15px;
            right: 10px;
            transform: rotate(45deg);
            border-right: none;
            border-top: none;
        }
    }
}
//animation
@keyframes showMenu {
    0% {
        left: 20px;
    }
    100% {
        left: 0px;
    }
}