.pagination {
    margin: .5em auto;
    padding: 0;
    display: block;
    text-align: center;
    font-size: .938em;
    @extend %clearfix; // outline: 1px solid red;
    .form_inline{
        justify-content: center;
    }
    span {
        color: $primaryColor;
        margin: 0px .5em;
    }
    .page {
        margin: 10px auto;
        padding: 0;
        display: flex;
        justify-content:center;
        flex-wrap:wrap;
        li {
            min-width: 40px;
            height: 40px;
            margin: 2px;
            list-style: none;
            flex:0 0 40px;

            box-sizing: border-box;
            a {
                border-radius: 5px;
                padding: 6px 10px;
                font-weight: 700;
                display: block;
                white-space: nowrap;
                font-size: 1em;
                color: $color-word;
                // @include gradient (#F7F7F7, #EAEAEA, vertical);
                background: #eee;
                border: #ccc solid 1px;
                &:hover,
                &:focus {
                    background: $primaryColor;
                    color: #fff !important;
                    border: $primaryColor solid 1px;
                }
            }
            &.active {
                a {
                    color: #fff !important;
                    background: $form-focus;
                    border: darken($form-focus, 5) solid 1px;
                }
            }
            %arrow {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 6px;
                height: 6px;
                margin-top: -4px;
                border: 2px solid #666;
                border-left: none;
                border-bottom: none;
            }
            &.first,
            &.prev,
            &.next,
            &.last {
                a {
                    text-indent: -9999px;
                    position: relative;
                    &:hover, &:focus {
                        &:before, &:after {
                            border: 2px solid #FFF;
                            border-left: none;
                            border-bottom: none;
                        }
                    }
                }
            }
            &.first {
                a:before {
                    @extend %arrow;
                    margin-left: -6px;
                    transform: rotate(-135deg);
                }
                a:after {
                    @extend %arrow;
                    margin-left: 0px;
                    transform: rotate(-135deg);
                }
            }
            &.prev {
                a:before {
                    @extend %arrow;
                    margin-left: -2px;
                    transform: rotate(-135deg);
                }
            }
            &.next {
                a:before {
                    @extend %arrow;
                    margin-left: -6px;
                    transform: rotate(45deg);
                }
            }
            &.last {
                a:before {
                    @extend %arrow;
                    margin-left: -3px;
                    transform: rotate(45deg);
                }
                a:after {
                    @extend %arrow;
                    margin-left: -9px;
                    transform: rotate(45deg);
                }
            }
        }
    }
    .total {
        padding: 0em;
        display: inline-block;
        vertical-align: middle;
        select {
            margin: 0px .5em;
            @include screen('mobile') {
                margin: 0px;
            }
        }
        .btn{
            min-width: auto;
            padding: .4em 1em !important;
        }
        // input[type="button"] {
        //     @include gradient(#F7F7F7, #EAEAEA, vertical);
        //     border: 1px solid #CCC;
        //     color: #222;
        //     padding: .4em 1em !important;
        //     min-width: 3em;
        //     display: inline-block;
        //     vertical-align: middle;
        //     box-shadow: none;
        //     text-shadow: none;
        //     &:hover, &:focus {
        //         color: #fff !important;
        //         background: $form-focus;
        //         border: darken($form-focus, 5) solid 1px;
        //         box-shadow: none !important;
        //     }
        // }
    }
    .items {
        display: inline-block;
        vertical-align: middle;
        
        a {
            padding: 0 5px;
            color: $primaryColor;
            text-decoration: none;
        }
    }
}
@include screen('mobile') {
    .pagination .total select.form-control {
        margin: 0px 0px;
        text-align: center;
    }
}