/////////////////////////////////////////////////////////以下為demo範例///
// 首頁區塊設定
.demosection {
    padding: 0em 0 3em;
    text-align: center;
    [class^="col"] {
        border: 1px solid $color-blue;
        background: lighten($color-blue, 30);
        min-height: 200px;
        color: lighten($color-word, 40);
        text-align: center;
        line-height: 200px;
        font-size: 1.5em;
        font-weight: bold;
        box-sizing: border-box;
    }
    &+.demosection {
        padding-top: 2em;
    }
    &+.bg {
        background: lighten($primaryColor, 40);
    }
    &.full {
        .container {
            max-width: 100% !important;
        }
    }
}
.tt{
    color: #222;
}
// 可用class個別命名
// 單欄滿版
.full {
    .container {
        max-width: 100% !important;
    }
}
// 單欄
.col-12 {}
// 兩欄 6-6
.col-6-6 {
    .col {
        @include make-xs-column(12);
        @include make-sm-column(6);
        @include make-md-column(6);
        @include make-lg-column(6);
    }
}
// 三欄 4-4-4
.col-4-4-4 {
    .col {
        @include make-xs-column(12);
        @include make-sm-column(4);
        @include make-md-column(4);
        @include make-lg-column(4);
    }
}
// 四欄 3-3-3
.col-3-3-3-3 {
    .col {
        @include make-xs-column(12);
        @include make-sm-column(6);
        @include make-md-column(3);
        @include make-lg-column(3);
    }
}
// 雙欄 8-4
.col-8-4 {
    .col {
        @include make-xs-column(12);
        @include make-sm-column(8);
        @include make-md-column(8);
        @include make-lg-column(8);
    }
    .col:nth-child(2n) {
        @include make-xs-column(12);
        @include make-sm-column(4);
        @include make-md-column(4);
        @include make-lg-column(4);
    }
}
// 雙欄 4-8
.col-4-8 {
    .col {
        @include make-xs-column(12);
        @include make-sm-column(4);
        @include make-md-column(4);
        @include make-lg-column(4);
    }
    .col:nth-child(2n) {
        @include make-xs-column(12);
        @include make-sm-column(8);
        @include make-md-column(8);
        @include make-lg-column(8);
    }
}
// 六欄 2-2-2-2-2-2
.col-2-2-2-2-2-2 {
    .col {
        @include make-xs-column(6);
        @include make-sm-column(2);
        @include make-md-column(2);
        @include make-lg-column(2);
    }
}
// 進階設定：自行命名
.cssname {
    .news {
        @include make-xs-column(12);
        @include make-sm-column(8);
        @include make-md-column(8);
        @include make-lg-column(8);
    }
    .video {
        @include make-xs-column(12);
        @include make-sm-column(4);
        @include make-md-column(4);
        @include make-lg-column(4);
    }
}
// 進階設定：非均等欄位
.col-3-6-3 {
    .col {
        @include make-xs-column(12);
        @include make-sm-column(3);
        @include make-md-column(3);
        @include make-lg-column(3);
        &:nth-child(2) {
            @include make-xs-column(12);
            @include make-sm-column(6);
            @include make-md-column(6);
            @include make-lg-column(6);
        }
    }
}
// 進階設定：五欄
.col-5 {
    .col {
        @include make-xs-column(12);
        @include make-sm-column(2);
        @include make-md-column(2);
        @include make-lg-column(2);
        &:first-child {
            @include make-xs-column-offset(0);
            @include make-sm-column-offset(1);
            @include make-md-column-offset(1);
            @include make-lg-column-offset(1);
        }
    }
}

////////////////////////////////////////////////
////////////////////  flex  ////////////////////
////////////////////////////////////////////////

// flex 欄位均分
// 父層啟動 flex : @extend %flex_set;
// 子層欄寬（均分）: @include flex-col-equal(欄數, margin , padding);
// 子層欄寬（自由）: @include flex-col(欄數, margin , padding);

// step 1、啟動 flex
.flex-equal-2,
.flex-equal-3,
.flex-equal-4,
.flex-equal-5,
.flex-equal-5-3-1,
.flex-equal-6,
.flex-equal-6-4-2,
.flex-equal-6-3-1,
.flex-equal-6-2,
.flex-equal-7,
.flex-equal-8,
.flex-equal-8-6-4,
.flex-equal-8-5-3,
.flex-equal-8-5-2,
.flex-equal-9,
.flex-equal-9-6-3,
.flex-equal-9-5-4,
.flex-equal-9-4-2,
.flex-equal-10,
.flex-equal-11,
.flex-equal-12,
.flex-5,
.flex-6,
.flex-7,
.flex-8,
.flex-9,
.flex-10,
.flex-11,
.flex-3-3,
.flex-4-4,
.flex-5-5,
.flex-5-7,
.flex-6-6,
.flex-8-4,
.flex-4-8,
.flex-4-4-4,
.flex-3-3-3-3,
.flex-equal-TT,
.flex-equal-TT-11, .flex-equal-TT-10, .flex-equal-TT-9, .flex-equal-TT-8, .flex-equal-TT-7,
.flex-equal-TT-6, .flex-equal-TT-5, .flex-equal-TT-4, .flex-equal-TT-3, .flex-equal-TT-2{
    margin: 1em 0;

    h2{ text-align: center; }

    .Flex-set{
        // 啟動flex
        @extend %flex_set;
        background: #eee;
        .col{
            p{ color: rgba(255,255,255,.5); }
        }
        .left{
            @include flex-col(5, 2px, 40px);
            // 自定義 ----------------- start
            background: #00bcd4;
            color: #fff;
            // ---------------------- end
        }
        .right{
            @include flex-col(7, 10px, 120px);
            // 自定義 ----------------- start
            background: deeppink;
            color: #fff;
            // ---------------------- end
        }
    }
}

// step 2、子層設定欄寬
// A - 均分（ equal ＝ 均等）

.flex-equal-2{
    .Flex-set{
        .col{
            @include flex-col-equal(2, 4px, 30px);
            // 自定義 ----------------- start
            background: #485b8a;
            color: #fff;
            margin: 4px 0;
            // ---------------------- end
        }
    }
    @include screen('tablet') {
        .Flex-set{
            @include gutter(30px);
            .col{
                @include flex-col-equal(1, 0px, 16px);
            }
        }
    }
}

.flex-equal-3{
    .Flex-set{
        // 方向、是否斷點
        flex-flow: row wrap;

        .col{
            @include flex-col-equal(3, 10px, 20px);
            // 自定義 ----------------- start
            background: #af2333;
            color: #fff;
            margin: 4px 0;
            // ---------------------- end
        }

        .thumbnail{
            @include flex-col-equal(3, 10px, 0px);
            // 自定義 ----------------- start
            background: #fff;
            color: #222;
            margin-top: .5em;
            margin-bottom: .5em;
            // ---------------------- end
        }
    }
    @include screen('tablet') {
        .Flex-set{
            @include gutter(2em);
            .col{
                @include flex-col-equal(2, 10px, 0px);
                &:nth-child(3n-2){ border: dashed 8px #222; }
            }

            .thumbnail{
                @include flex-col-equal(2, 1%, 0px);
            }
        }
    }
    @include screen('mobile') {
        .Flex-set{
            @include gutter(30px);
            .col{
                @include flex-col-equal(1, 0px, 10px);
            }
            .thumbnail{
                @include flex-col-equal(1, 10px, 10px);
            }
        }
    }
}

.flex-equal-4{
    .Flex-set{
        // 方向、是否斷點
        flex-flow: row wrap;
        .col{
            @include flex-col-equal(4, 10px, 30px);
            // 自定義 ----------------- start
            background: #795548;
            color: #fff;
            margin: 4px 0;
            // ---------------------- end
        }
    }
    @include screen('tablet') {
        .Flex-set{
            .col{
                @include flex-col-equal(3, 6px, 1em);
            }
        }
    }
    @include screen('mobile') {
        .Flex-set{
            @include gutter(30px);
            .col{
                @include flex-col-equal(2, 4px, 1em);
            }
        }
    }
}

.flex-equal-5{
    .Flex-set{
        // 方向、是否斷點
        flex-flow: row wrap;

        .col{
            @include flex-col-equal(5, 5px, 20px);
            // 自定義 ----------------- start
            background: #00bcd4;
            color: #fff;
            margin: 4px 0;
            // ---------------------- end
        }
    }
    @include screen('tablet') {
        .Flex-set{
            @include gutter(40px);
            .col{
                margin-top: .25em;
                margin-bottom: .25em;
                @include flex-col-equal(4, 10px, 20px);
            }
        }
    }
    @include screen('mobile') {
        .Flex-set{
            .col{
                @include flex-col-equal(2, 4px, 10px);
            }
        }
    }
}

.flex-equal-5-3-1{
    .Flex-set{
        @include gutter();
        .col{
            @include flex-col-equal(5, 5px, 20px);
            // 自定義 ----------------- start
            background: #00bcd4;
            color: #fff;
            margin: 4px 0;
            // ---------------------- end
        }
    }
    @include screen('tablet') {
        .Flex-set{
            .col{ @include flex-col-equal(3, 4px, 20px); }
        }
    }
    @include screen('mobile') {
        .Flex-set{
            .col{ @include flex-col-equal(1, 4px, 20px); }
        }
    }
}

.flex-equal-6{
    .Flex-set{
        // 方向、是否斷點
        flex-flow: row wrap;

        .col{
            @include flex-col-equal(6, 10px, 20px);
            // 自定義 ----------------- start
            background: #09a20f;
            color: #fff;
            margin: 4px 0;
            // ---------------------- end
        }
    }
    @include screen('tablet') {
        .Flex-set{
            @include gutter(20px);
            .col{
                margin-top: .25em;
                margin-bottom: .25em;
                @include flex-col-equal(4, 10px, 20px);
            }
        }
    }
    @include screen('mobile') {
        .Flex-set{
            .col{
                @include flex-col-equal(2, 4px, 20px);
            }
        }
    }
}
.flex-equal-6-4-2,
.flex-equal-6-3-1,
.flex-equal-6-2{
    .Flex-set{
        @include gutter();
        .col{
            @include flex-col-equal(6, 10px, 20px);
            // 自定義 ----------------- start
            background: #09a20f;
            color: #fff;
            margin: 4px 0;
            // ---------------------- end
        }
    }
}
.flex-equal-6-4-2{
    @include screen('tablet') {
        .Flex-set{
            .col{ @include flex-col-equal(4, 10px, 20px); }
        }
    }
    @include screen('mobile') {
        .Flex-set{
            .col{ @include flex-col-equal(2, 10px, 20px); }
        }
    }
}
.flex-equal-6-3-1{
    @include screen('tablet') {
        .Flex-set{
            .col{ @include flex-col-equal(3, 10px, 20px); }
        }
    }
    @include screen('mobile') {
        .Flex-set{
            @include gutter(0);
            .col{ @include flex-col-equal(1, 0px, 20px); }
        }
    }
}
.flex-equal-6-2{
    @include screen('tablet') {
        .Flex-set{
            .col{ @include flex-col-equal(2, 10px, 20px); }
        }
    }
}

.flex-equal-7{
    .Flex-set{
        // 方向、是否斷點
        flex-flow: row wrap;
        .col{
            @include flex-col-equal(7, 10px, 20px);
            // 自定義 ----------------- start
            background: #d47630;
            color: #fff;
            margin: 4px 0;
            // ---------------------- end
        }
    }
    @include screen('tablet') {
        .Flex-set{
            @include gutter(20px);
            .col{
                margin-top: .25em;
                margin-bottom: .25em;
                @include flex-col-equal(4, 10px, 20px);
            }
        }
    }
    @include screen('mobile') {
        .Flex-set{
            .col{
                @include flex-col-equal(3, 2px, 20px);
            }
        }
    }
}

.flex-equal-8{
    .Flex-set{
        // 方向、是否斷點
        flex-flow: row wrap;

        .col{
            @include flex-col-equal(8, 5px, 20px);
            // 自定義 ----------------- start
            background: #00bcd4;
            color: #fff;
            margin: 4px 0;
            // ---------------------- end
        }
    }
    @include screen('tablet') {
        .Flex-set{
            @include gutter(20px);
            .col{
                margin-top: .25em;
                margin-bottom: .25em;
                @include flex-col-equal(3, 5px, 20px);
            }
        }
    }
    @include screen('mobile') {
        .Flex-set{
            .col{
                @include flex-col-equal(1, 0px, 20px);
            }
        }
    }
}

.flex-equal-8-6-4,
.flex-equal-8-5-3,
.flex-equal-8-5-2{
    .Flex-set{
        .col{
            @include flex-col-equal(8, 5px, 20px);
            // 自定義 ----------------- start
            background: #00bcd4;
            color: #fff;
            margin: 4px 0;
            // ---------------------- end
        }
    }
}
.flex-equal-8-6-4{
    @include screen('tablet') {
        .Flex-set{
            .col{ @include flex-col-equal(6, 10px, 20px); }
        }
    }
    @include screen('mobile') {
        .Flex-set{
            .col{ @include flex-col-equal(4, 10px, 20px); }
        }
    }
}
.flex-equal-8-5-3{
    @include screen('tablet') {
        .Flex-set{
            .col{ @include flex-col-equal(5, 10px, 20px); }
        }
    }
    @include screen('mobile') {
        .Flex-set{
            .col{ @include flex-col-equal(3, 10px, 20px); }
        }
    }
}
.flex-equal-8-5-2{
    @include screen('tablet') {
        .Flex-set{
            .col{ @include flex-col-equal(5, 10px, 20px); }
        }
    }
    @include screen('mobile') {
        .Flex-set{
            .col{ @include flex-col-equal(2, 10px, 20px); }
        }
    }
}

.flex-equal-9{
    .Flex-set{
        // 方向、是否斷點
        flex-flow: row wrap;
        .col{
            @include flex-col-equal(9, 5px, 20px);

            // 自定義 ----------------- start
            background: #00988B;
            color: #fff;
            margin: 4px 0;
            // ---------------------- end
        }
    }
    @include screen('tablet') {
        .Flex-set{
            @include gutter(20px);
            .col{
                margin-top: .25em;
                margin-bottom: .25em;
                @include flex-col-equal(3, 5px, 20px);
            }
        }
    }
    @include screen('mobile') {
        .Flex-set{
            .col{
                @include flex-col-equal(1, 0px, 10px);
            }
        }
    }
}
.flex-equal-9-6-3,
.flex-equal-9-5-4,
.flex-equal-9-4-2{
    .Flex-set{
        .col{
            @include flex-col-equal(9, 5px, 20px);
            // 自定義 ----------------- start
            background: #485b8a;
            color: #fff;
            margin: 4px 0;
            // ---------------------- end
        }
    }
}

.flex-equal-9-6-3{
    @include screen('tablet') {
        .Flex-set{
            .col{ @include flex-col-equal(6, 10px, 20px); }
        }
    }
    @include screen('mobile') {
        .Flex-set{
            .col{ @include flex-col-equal(3, 10px, 20px); }
        }
    }
}
.flex-equal-9-5-4{
    @include screen('tablet') {
        .Flex-set{
            .col{ @include flex-col-equal(5, 10px, 20px); }
        }
    }
    @include screen('mobile') {
        .Flex-set{
            .col{ @include flex-col-equal(4, 10px, 20px); }
        }
    }
    @include screen('xs_mobile') {
        .Flex-set{
            .col{ @include flex-col-equal(2, 10px, 20px); }
        }
    }
}
.flex-equal-9-4-2{
    @include screen('tablet') {
        .Flex-set{
            .col{ @include flex-col-equal(4, 10px, 20px); }
        }
    }
    @include screen('mobile') {
        .Flex-set{
            .col{ @include flex-col-equal(2, 10px, 20px); }
        }
    }
}


.flex-equal-10{
    .Flex-set{
        // 方向、是否斷點
        flex-flow: row wrap;
        .col{
            @include flex-col-equal(10, 5px, 10px);
            // 自定義 ----------------- start
            background: #00bcd4;
            color: #fff;
            margin: 4px 0;
            p{ word-break: break-all; }
            // ---------------------- end
        }
    }
    @include screen('tablet') {
        .Flex-set{
            @include gutter(20px);
            .col{
                margin-top: .25em;
                margin-bottom: .25em;
                @include flex-col-equal(4, 5px, 10px);
            }
        }
    }
    @include screen('mobile') {
        .Flex-set{
            .col{
                @include flex-col-equal(1, 0px, 10px);
            }
        }
    }
}

.flex-equal-11{
    .Flex-set{
        // 方向、是否斷點
        flex-flow: row wrap;

        .col{
            @include flex-col-equal(11, 3px, 20px);

            // 自定義 ----------------- start
            background: #9e9e9e;
            color: #fff;
            margin: 4px 0;
            // ---------------------- end
        }
    }
    @include screen('tablet') {
        .Flex-set{
            @include gutter(20px);
            .col{
                margin-top: .25em;
                margin-bottom: .25em;
                @include flex-col-equal(3, 3px, 20px);
            }
        }
    }
    @include screen('mobile') {
        .Flex-set{
            .col{
                @include flex-col-equal(2, 2px, 20px);
            }
        }
    }
}


.flex-equal-12,
.flex-equal-12-11, .flex-equal-12-10, .flex-equal-12-9, .flex-equal-12-8, .flex-equal-12-7,
.flex-equal-12-6, .flex-equal-12-5, .flex-equal-12-4, .flex-equal-12-3, .flex-equal-12-2{
    .Flex-set{
        @include gutter(16px);
        .col{
            @include flex-col-equal(12, 3px, 20px);
            // 自定義 ----------------- start
            background: #00bcd4;
            color: #fff;
            margin: 4px 0;
            // ---------------------- end
        }
    }
}

.flex-equal-12{
    @include screen('tablet') {
        .Flex-set{
            .col{ @include flex-col-equal(7, 10px, 20px); }
        }
    }
    @include screen('mobile') {
        .Flex-set{
            .col{ @include flex-col-equal(5, 4px, 20px); }
        }
    }
}
.flex-equal-12-11{
    @include screen('tablet') {
        .Flex-set{
            .col{ @include flex-col-equal(11, 4px, 20px); }
        }
    }
    @include screen('mobile') {
        .Flex-set{
            .col{ @include flex-col-equal(2, 2px, 20px); }
        }
    }
}
.flex-equal-12-10{
    @include screen('tablet') {
        .Flex-set{
            .col{ @include flex-col-equal(10, 4px, 20px); }
        }
    }
    @include screen('mobile') {
        .Flex-set{
            .col{ @include flex-col-equal(2, 2px, 20px); }
        }
    }
}
.flex-equal-12-9{
    @include screen('tablet') {
        .Flex-set{
            .col{ @include flex-col-equal(9, 4px, 20px); }
        }
    }
    @include screen('mobile') {
        .Flex-set{
            .col{ @include flex-col-equal(2, 2px, 20px); }
        }
    }
}
.flex-equal-12-8{
    @include screen('tablet') {
        .Flex-set{
            .col{ @include flex-col-equal(8, 4px, 20px); }
        }
    }
    @include screen('mobile') {
        .Flex-set{
            .col{ @include flex-col-equal(2, 2px, 20px); }
        }
    }
}
.flex-equal-12-7{
    @include screen('tablet') {
        .Flex-set{
            .col{ @include flex-col-equal(7, 4px, 20px); }
        }
    }
    @include screen('mobile') {
        .Flex-set{
            .col{ @include flex-col-equal(2, 2px, 20px); }
        }
    }
}
.flex-equal-12-6{
    @include screen('tablet') {
        .Flex-set{
            .col{ @include flex-col-equal(6, 4px, 20px); }
        }
    }
    @include screen('mobile') {
        .Flex-set{
            .col{ @include flex-col-equal(2, 2px, 20px); }
        }
    }
}
.flex-equal-12-5{
    @include screen('tablet') {
        .Flex-set{
            .col{ @include flex-col-equal(5, 4px, 20px); }
        }
    }
    @include screen('mobile') {
        .Flex-set{
            .col{ @include flex-col-equal(2, 2px, 20px); }
        }
    }
}
.flex-equal-12-4{
    @include screen('tablet') {
        .Flex-set{
            .col{ @include flex-col-equal(4, 4px, 20px); }
        }
    }
    @include screen('mobile') {
        .Flex-set{
            .col{ @include flex-col-equal(2, 2px, 20px); }
        }
    }
}
.flex-equal-12-3{
    @include screen('tablet') {
        .Flex-set{
            .col{ @include flex-col-equal(3, 4px, 20px); }
        }
    }
    @include screen('mobile') {
        .Flex-set{
            .col{ @include flex-col-equal(2, 2px, 20px); }
        }
    }
}
.flex-equal-12-2{
    @include screen('tablet') {
        .Flex-set{
            .col{ @include flex-col-equal(2, 4px, 20px); }
        }
    }
    @include screen('mobile') {
        .Flex-set{
            .col{ @include flex-col-equal(2, 2px, 20px); }
        }
    }
}

// 測試：目前測試 11 欄，流動變化
[class^="flex-equal-TT"]{
    &:nth-child(odd){
        .Flex-set .col{ background: #485b8a; }
    }
}

.flex-equal-TT,
.flex-equal-TT-11, .flex-equal-TT-10, .flex-equal-TT-9, .flex-equal-TT-8, .flex-equal-TT-7,
.flex-equal-TT-6, .flex-equal-TT-5, .flex-equal-TT-4, .flex-equal-TT-3, .flex-equal-TT-2{
    .Flex-set{
        @include gutter(16px);
        .col{
            @include flex-col-equal(4, 3px, 20px);
            // 自定義 ----------------- start
            background: #00bcd4;
            color: #fff;
            margin: 4px 0;
            // ---------------------- end
        }
    }
}
.flex-equal-TT{
    // @include screen('tablet') {
    //     .Flex-set{
    //         .col{ @include flex-col-equal(3, 10px, 20px); }
    //     }
    // }
    // @include screen('mobile') {
    //     .Flex-set{
    //         .col{ @include flex-col-equal(1, 0px, 20px); }
    //     }
    // }
}
.flex-equal-TT-11{
    @include screen('tablet') {
        .Flex-set{
            .col{ @include flex-col-equal(11, 4px, 20px); }
        }
    }
    @include screen('mobile') {
        .Flex-set{
            .col{ @include flex-col-equal(2, 2px, 20px); }
        }
    }
}
.flex-equal-TT-10{
    @include screen('tablet') {
        .Flex-set{
            .col{ @include flex-col-equal(10, 4px, 20px); }
        }
    }
    @include screen('mobile') {
        .Flex-set{
            .col{ @include flex-col-equal(2, 2px, 20px); }
        }
    }
}
.flex-equal-TT-9{
    @include screen('tablet') {
        .Flex-set{
            .col{ @include flex-col-equal(9, 4px, 20px); }
        }
    }
    @include screen('mobile') {
        .Flex-set{
            .col{ @include flex-col-equal(2, 2px, 20px); }
        }
    }
}
.flex-equal-TT-8{
    @include screen('tablet') {
        .Flex-set{
            .col{ @include flex-col-equal(8, 4px, 20px); }
        }
    }
    @include screen('mobile') {
        .Flex-set{
            .col{ @include flex-col-equal(2, 2px, 20px); }
        }
    }
}
.flex-equal-TT-7{
    @include screen('tablet') {
        .Flex-set{
            .col{ @include flex-col-equal(7, 4px, 20px); }
        }
    }
    @include screen('mobile') {
        .Flex-set{
            .col{ @include flex-col-equal(2, 2px, 20px); }
        }
    }
}
.flex-equal-TT-6{
    @include screen('tablet') {
        .Flex-set{
            .col{ @include flex-col-equal(6, 4px, 20px); }
        }
    }
    @include screen('mobile') {
        .Flex-set{
            .col{ @include flex-col-equal(2, 2px, 20px); }
        }
    }
}
.flex-equal-TT-5{
    @include screen('tablet') {
        .Flex-set{
            .col{ @include flex-col-equal(5, 4px, 20px); }
        }
    }
    @include screen('mobile') {
        .Flex-set{
            .col{ @include flex-col-equal(2, 2px, 20px); }
        }
    }
}
.flex-equal-TT-4{
    @include screen('tablet') {
        .Flex-set{
            .col{ @include flex-col-equal(4, 4px, 20px); }
        }
    }
    @include screen('mobile') {
        .Flex-set{
            .col{ @include flex-col-equal(2, 2px, 20px); }
        }
    }
}
.flex-equal-TT-3{
    @include screen('tablet') {
        .Flex-set{
            .col{ @include flex-col-equal(3, 4px, 20px); }
        }
    }
    @include screen('mobile') {
        .Flex-set{
            .col{ @include flex-col-equal(2, 2px, 20px); }
        }
    }
    @include screen('xs_mobile') {
        .Flex-set{
            .col{ @include flex-col-equal(1, 2px, 20px); }
        }
    }
}
.flex-equal-TT-2{
    @include screen('tablet') {
        .Flex-set{
            .col{ @include flex-col-equal(2, 4px, 20px); }
        }
    }
    @include screen('mobile') {
        .Flex-set{
            .col{ @include flex-col-equal(1, 2px, 20px); }
        }
    }
}


// B - 自行設定
// 多欄 = 12
.flex-6-6{
    .col{
        @include flex-col(6, 4px, 40px);
        background: #00bcd4;
        color: #fff;
        // &:nth-child(2){ background: #00bcd4; }
    }
}
.flex-8-4{
    .col{
        @include flex-col(8, 4px, 40px);
        background: #00bcd4;
        color: #fff;
        &:nth-child(2){
            // background: #00bcd4;
            @include flex-col(4, 4px, 40px);
        }
    }
}
.flex-4-8{
    .col{
        @include flex-col(4, 4px, 40px);
        background: #00bcd4;
        color: #fff;

        &:nth-child(2){
            // background: #00bcd4;
            @include flex-col(8, 4px, 40px);
        }
    }
}
.flex-4-4-4{
    .col{
        @include flex-col(4, 4px, 40px);
        background: #00bcd4;
        color: #fff;
        // &:nth-child(even){
        //     background: #00bcd4;
        // }

        &:nth-child(2){
            background: #ab005c;
            p{
                @include text-line(2,23px);
                color: #fff;
            }
        }
    }
}
.flex-3-3-3-3{
    .col{
        @include flex-col(3, 4px, 40px);
        background: #485b8a;
        color: #fff;
        &:nth-child(even){
            background: #00bcd4;
        }
    }
}

// 多欄 < 12
.flex-3-3{
    .Flex-set{ justify-content: center; }
    .col{
        @include flex-col(3, 0px, 40px);
        background: #00bcd4;
        color: #fff;
        margin: 4px;
    }
}
.flex-4-4{
    .Flex-set{ justify-content: center; }
    .col{
        @include flex-col(4, 0px, 40px);
        background: #00bcd4;
        color: #fff;
        margin: 4px;
    }
}
.flex-5-5{
    .Flex-set{ justify-content: center; }
    .col{
        @include flex-col(5, 0px, 40px);
        background: #00bcd4;
        color: #fff;
        margin: 4px;
    }
}

// 單欄 < 12
.flex-7{
    .Flex-set{ justify-content: center; }
    .col{
        @include flex-col(7, 0px, 40px);   
        background: #00bcd4;
        color: #fff;
    }
}
.flex-8{
    .Flex-set{ justify-content: center; }
    .col{
        @include flex-col(8, 0px, 40px);   
        background: #00bcd4;
        color: #fff;
    }
}
.flex-9{
    .Flex-set{ justify-content: center; }
    .col{
        @include flex-col(9, 0px, 40px);   
        background: #00bcd4;
        color: #fff;
    }
}
.flex-10{
    .Flex-set{ justify-content: center; }
    .col{
        @include flex-col(10, 0px, 40px);   
        background: #00bcd4;
        color: #fff;
    }
}













