//header
.header {
    position: relative;
    z-index: 99;
    background: #FFF;
    box-shadow: 0px 2px 5px RGBA(0, 0, 0, 0.3);
    // 虛擬底色 - navigation bg
    // &:before {
    //     content: "";
    //     width: 100%;
    //     height: 2.4em;
    //     background: #F2F2F2;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     @include screen('mobile') {
    //         display: none;
    //     }
    // }
    // mobile btn for extend
    %mobileCtrlBtn {
        width: 60px !important;
        height: 60px !important;
        position: absolute;
        top: 0px;
        display: block;
        font-size: 0em;
        padding: 15px;
        margin: 0;
        min-width: auto;
        min-height: auto;
        background: transparent;
        border: none;
        box-shadow: none;
        box-sizing: border-box;
        @include screen('mobile') {
            display: block !important;
        }
    }
    >.container {
        max-width: $container-max;
        overflow: visible;
        position: relative; // menu
        .sidebarCtrl {
            display: none;
            left: 0px;
            @extend %mobileCtrlBtn;
            span {
                position: absolute;
                background: $primaryColor;
                width: 50%;
                height: 3px;
                top: 20px;
                left: 50%;
                margin-left: -25%;
                display: block;
                &:nth-child(2) {
                    top: 28px;
                }
                &:nth-child(3) {
                    top: 36px;
                }
            }
        }
        // search
        .searchCtrl {
            display: none;
            right: 0px;
            font-size: 0em;
            @extend %mobileCtrlBtn;
            &:before {
                width: 40px;
                height: 40px;
                background: url(../images/basic/icon_search.png) no-repeat center center;
                background-size: 28px;
                opacity: .6;
                content: "";
                position: absolute;
                top: 10px;
                left: 10px;
                display: block;
            }
        }
    }
    h1 {
        float: left;
        width: 300px;
        height: 75px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        a {
            display: inline-block;
        }
        img {
            display: block;
            max-width: 300px;
            max-height: 75px;
        }
        @include screen('mobile') {
            padding: 2px 60px;
            width: 100%;
            text-align: center;
            height: 60px;
            img {
                width: auto;
                height: auto;
                max-height: 54px;
                margin: 0px auto;
                transform: scale(.8);
            }
        }
    }
    // 導覽列
    .navigation {

        @include screen('mobile') {
            display: none;
        }
        &.have_language {
            padding-right: 160px;
        }
        @extend %clearfix;
        overflow: hidden;
        // width: 100%;
        // margin-bottom: .5em;
        box-sizing:border-box;
        display: flex;
        //shuya 1090826
        .navlist{
            flex:1 1 auto;
            margin: .1em .5em 0 0;
            ul {
                padding: 0;
                margin: 0;
                font-size: .875em;
                list-style: none;
                display: flex;
                justify-content: flex-end;
            }
            li {
                flex:0 0 auto;

                a {
                    display: block;
                    padding: .5em;
                    text-decoration: none;
                    @include aSetting_nocolor;
                }
            }
        }

        .language {
            position: absolute;
            right: 15px;
            top: .35em;
            font-size: .75em;
        }
    }
}
//search
.search {
    display: flex;
    justify-content: flex-end;
    flex-wrap:wrap;
    vertical-align: top;
    font-size: .938em;
    margin: 1em .5em;
    box-sizing: border-box;

    @include screen('mobile') {
        display: none;
    }
    label {
        font-size: 0em;
    }
    .form_grp {
        flex:0 0 auto;
        margin:0;
        input {
            margin: 0 0 0 .5em;
            padding: .2em;
            box-shadow: none;
            width:auto;

            &[type="submit"] {
                min-width: auto;
                padding: .2em .8em;
            }
        }
    }
    .btn_grp {
        flex:0 0 auto;
        padding:0 .5em 0;
        margin: 0;
        input, input[type="submit"] {
            min-width: auto;
            padding: .2em .8em;
            margin: 0;
        }
    }
    .keywordHot {
        flex:1 1 100%;
        ul {
            font-size: .813em;
            line-height: 1.65em;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-end;
            list-style-type: none;
            &:before {
            }
            li {
                margin: 0;
                padding: .5em;
                flex:0 0 auto;
            }
            a {
                @include aSetting_nocolor;
            }
        }
    }
    // m_search
    &.m_search {
        width: 100% !important;
        max-width: 100% !important;
        min-width: auto;
        padding: .8em .3em;
        display: block;
        height: auto;
        position: fixed;
        top: 60px;
        left: 0;
        z-index: 98;
        background: #333;
        display: none;
        margin: 0;

        label {
            font-size: 0em;
            line-height: 0;
        }
        .form_grp {
            display: flex;

            label {
                display: none;
                flex:0 0 0%;

            }
            input {
                margin: .5em;
                padding: .5em;
                flex:1 1 50%;

                &[type="submit"] {
                    flex:0 1 15%;
                    margin: .5em;

                    &:hover, &:focus {
                    }
                }
            }
        }
        .btn_grp {
            flex:1 1 auto;
            padding:.5em;
            margin-top: .5em;
            border-top: dotted 1px #999;

            box-sizing: border-box;
            input {
                width: 100% !important;
                padding: .6em .5em !important;
                margin: 0;
            }
        }
        .keywordHot {
            @extend %clearfix;
            ul{
                justify-content:flex-start;
            }
            a {
                color: #FFF;
                &:hover,
                &:focus {
                    color: $primaryColor;
                }
            }
        }
    }
}

// header fix
.header.fixed {
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    box-shadow: rgba(0, 0, 0, .5) 0 0 25px;
    background: rgba(0, 0, 0, .75);
    z-index: 999;
    @include screen('mobile') {
        background: #FFF;
    }
    .menu {
        >ul {
            >li {
                >a {
                    color: #FFF;
                }
            }
        }
    }
    .megamenu {
        >ul {
            >li {
                >a {
                    color: #FFF;
                }
            }
        }
    }
}
