.menu {
    @include box-sizing;
    margin: 0 auto;
    min-height: 2.5em;
    position: relative;
    z-index: 99;
    // 預設選單 ul
    clear: both;
    @include screen('mobile') {
        display:none;
    }
    >ul {
        text-align: left;
        margin: 0;
        padding: 0;
        // 第一層選單樣式
        >li {
            display: inline-block;
            vertical-align: top;
            min-width: 10em;
            >a {
                display: block;
                padding: 0 1em;
                min-height: 2.5em;
                font-weight: bold;
                line-height: 2.5em;
                color: $color-word;
            }
            &.hasChild {
                >a {
                    &:after {
                        content: '';
                        width: 4px;
                        height: 4px;
                        display: inline-block;
                        margin-left: .5em;
                        vertical-align: middle;
                        border: 2px solid lighten($color-word, 40);
                        transform: rotate(135deg);
                        border-bottom: none;
                        border-left: none;
                        margin-bottom: .2em;
                    }
                }
            }
            &:hover {
                >a {
                    color: $aHover;
                    &:after {
                        border: 2px solid $aHover;
                        border-bottom: none;
                        border-left: none;
                    }
                }
            }
        }
        ul {
            display: none;
            overflow: visible;
            width: 200px;
            background: rgba(0, 0, 0, .8);
            padding: 0;
            z-index: 999999;
            position: absolute;
            top: auto;
            left: 0;
            list-style: none;
            text-align: left;
            animation: showMenu .3s ease-out;
            ul {
                top: 0;
                left: 170px;
                animation: none;
            }
        }
    }
    // 預設選單 li
    li {
        position: relative;
        a {
            display: block;
            outline: none;
            text-decoration: none;
        }
        // 第二層選單樣式
        li {
            float: none;
            a {
                padding: .6em 1.2em;
                color: #FFF;
                font-weight: bold;
                &:hover, &:focus {
                    background: $aHover;
                }
            }
        }
        li.hasChild {
            >ul {
                z-index: 999;
            }
            >a {
                padding-right: 2em;
                &:hover,
                &:focus {
                    background: $primaryColor;
                }
                &:after {
                    content: '';
                    position: absolute;
                    right: 10px;
                    top: 1.3em;
                    width: 6px;
                    height: 6px;
                    border: 2px solid #FFF;
                    transform: rotate(45deg);
                    border-bottom: none;
                    border-left: none;
                }
            }
        }
    }
}
// 行動版選單sidebar
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999999;
    display: none;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
    @include box-sizing;
    .menu{
        display:block;
    }
    >.menu_overlay {
        background: RGBA(0, 0, 0, .5);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 9;
        display: none;
        overflow-x: hidden !important;
        overflow-y: auto !important;
    }
    .m_area {
        &:before {
            content: "";
            width: 280px;
            position: absolute;
            top: 0;
            left: 0;
            color: #FFF;
            width: 100%;
            height: 3em;
            background: $primaryColor;
            padding: 0 1em;
            line-height: 3em;
            @include box-sizing;
        }
        width:280px;
        padding: 3em 0;
        position:absolute;
        top: 0;
        left: 0;
        height: 100%;
        background: $primaryColor;
        overflow:hidden;
        overflow-y: auto;
        z-index: 9999;
        -webkit-overflow-scrolling: touch;
        -webkit-transform: translate3d(0, 0, 0);
        @include box-sizing;
        .menu {
            width: 100%;
            @include box-shadow(0px 0px 4px RGBA(0, 0, 0, .4));
            margin-bottom: 1em;
            background: #CCC;
            a {
                display: block;
                color: #222;
                text-decoration: none;
                transition: .4s ease-out;
            }
            ul {
                ul {
                    display: none;
                    width: 100%;
                    margin: 0;
                    background: rgba(0, 0, 0, .09);
                    font-size: .938em;
                    position: relative;
                    a {
                        padding-left: 2em;
                    }
                    ul {
                        left: 0;
                        display: none;
                        ul {
                            display: none;
                        }
                    }
                }
            }
            li {
                display: block;
                float: none;
                width: 100%;
                ul {
                    background: #FFF;
                }
                >a {
                    padding: .5em 1em;
                    min-height:2em;
                    line-height: 2em;
                    background: #FFF;
                    border-bottom: 1px solid #CCC;
                }
                &.hasChild {
                    >a {
                        padding: .5em 1em;
                        color: #222;
                        background: #FFF;
                        padding-right: 36px;
                        position: relative;
                        &:after {
                            content: '';
                            position: absolute;
                            right: 16px;
                            top: 1.25em;
                            width: 5px;
                            line-height: 1.25em;
                            height: 5px;
                            border: 2px solid #222;
                            transform: rotate(45deg);
                            border-top: none;
                            border-left: none;
                            transition: .3s;
                        }
                    }
                }
                li {
                    background: #FFF;

                    a {
                        min-height:1.5em;
                        line-height: 1.5em;
                        padding: .5em 1em .5em 2em !important;
                        background: rgba(0, 0, 0, .05);
                        &:hover,
                        &:focus {
                            color: #000;
                            background: rgba(0, 0, 0, .15);
                        }
                    }
                    &.hasChild {
                        a {
                            background: rgba(0, 0, 0, .05);
                            padding: 1em 1em 1em 2em;
                            &:hover,
                            &:focus {
                                background: rgba(0, 0, 0, .05);
                            }
                        }
                    }
                    li {
                        a {
                            background: rgba(0, 0, 0, .15) !important;
                            padding: .8em 1em .8em 4em !important;
                            border-bottom: 1px solid #BBB;
                            &:hover,
                            &:focus {
                                background: rgba(0, 0, 0, .25) !important;
                            }
                            &:after {
                                display: none !important;
                            }
                        }
                    }
                }
            }
        }
    }
    .navigation {
        position: relative;
        text-align: left;
        ul {
            float: none;
            width: 90%;
            margin: 1em auto;
            padding: 0;
            overflow: hidden;
            list-style: none;
            border: 1px solid rgba(255, 255, 255, .5);
            border-bottom: none;
            border-right: none;
            li {
                float: left;
                width: 50%;
                margin: 0;
                padding: 0;
                @include box-sizing;
                &:nth-child(odd):last-child {
                    width: 100%;
                }
                a {
                    display: block;
                    height: 3em;
                    line-height: 2em;
                    padding: .5em 1em;
                    font-size: .938em;
                    color: #FFF;
                    font-weight: bold;
                    text-decoration: none;
                    border: 1px solid rgba(255, 255, 255, .5);
                    @include box-sizing;
                    &:nth-child(odd) {
                        border-left: none;
                        border-top: none;
                    }
                    &:hover,
                    &:focus {
                        background: darken($primaryColor, 20);
                    }
                }
            }
        }
        .language {
            position: relative;
            width: 100%;
            @include gutter;
            a {
                padding: .6em 1em;
                background: rgba(0, 0, 0, .4);
                &:after {
                    top: 1.3em;
                }
                &:before {
                    top: .8em;
                }
            }
            ul {
                width: 100%;
                margin: 0;
                position: relative;
                top: 0;
                padding: 0;
                border: none;
                background:none;
                li {
                    width: 100% !important;
                    a {
                        border: none;
                        background: rgba(0, 0, 0, .4);
                    }
                }
            }
        }
    }
    button.sidebarClose {
        position: absolute;
        display: block;
        width: 3em !important;
        height: 3em !important;
        padding: 0;
        min-width: auto;
        top: 0px;
        right: 0px;
        margin: 0;
        text-indent: -9999px;
        border: none;
        background: none;
        border: none;
        &:before {
            position: absolute;
            width: 15px;
            height: 15px;
            border: 3px solid #eee;
            content: "";
            top: 15px;
            right: 10px;
            transform: rotate(45deg);
            border-right: none;
            border-top: none;
        }
    }
}
//animation
@keyframes showMenu {
    0% {
        left: 20px;
    }
    100% {
        left: 0px;
    }
}
