// 以下皆是設定 測試無障礙關閉js 的純css排版
a.goCenter {
    position: absolute;
    top: -2.2em;
    left: 50%;
    margin-left: -480px;
    padding: 0 .5em;
    height: 2em;
    line-height: 2em;
    background: $secondaryColor;
    color: #fff;
    text-decoration: none;
    z-index: 999999999999;
    opacity: 0;
    transition: .5s;
    border-radius: 0px 0px 4px 4px;
    color: #FFF;
    @include screen("mobile") {
        display: none;
    }
    &:hover, &:focus {
        outline: none;
        top: 0;
        opacity: 1;
    }
}
// no-js
.no-js {
    noscript {
        display: block;
        padding: .5em;
        border: 2px solid $primaryColor;
        background: #FFF;
        color: #666;
        overflow: hidden;
        line-height: 1.45em;
        font-size: .813em;
        margin: 0 .5em .5em;
        border-radius: 4px;
        @include box-sizing;
        a {
            color: $primaryColor;
            &:hover, &:focus {
                color: $aHover;
            }
        }
    }
    .mpSlider {
        .img-container {
            display: none;
            img {
                object-fit: cover;
            }
            &:nth-child(1) {
                display: block;
            }
        }
    }
    .navigation {
        padding-right: 170px;
        .language {
            width: auto;
            position: absolute;
            right: 160px;
            >a {
                display: none;
            }
            ul {
                top: 0;
                width: 160px;
                li {
                    display: block;
                    width: auto;
                }
            }
        }
    }
    .search {
        noscript {
            margin-left: 1%;
            margin-right: 1%;
        }
    }
    .tabSet {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        .tabItem {
            width: 100%;
            display: block;
            position: relative;
            color: #000;
            margin-bottom: 0px;
            border-bottom: 3px solid #ddd;
            >a {
                background: none;
                font-size: 1.5em;
                color: #000;
            }
            &:before {
                display: none;
            }
            &.active {
                color: #000;
                width: 100%;
                display: block;
                position: relative;
                border-bottom: 3px solid #ddd;
                >a {
                    color: #000;
                    background: none;
                }
            }
        }
        .tabContent {
            width: 100%;
            position: relative;
            display: block;
        }
    }
    // cl_slider
    .cp_slider {
        .img-container {
            display: inline-block;
            width: 30%;
            margin: 0 1% 1em;
            @include screen('mobile') {
                width: 47%;
                margin: 0 1% 1em;
            }
            img {
                object-fit: cover;
            }
        }
    }
    .adSlider {
        .img-container {
            display: inline-block;
            width: 22%;
            margin: 0 1% 1em;
            border: 1px solid #DDD;
            @include screen('mobile') {
                width: 47%;
                margin: 0 1% 1em;
            }
            img {
                object-fit: cover;
            }
        }
    }
    img.lazy {
        display: none;
        &+noscript {
            img {
                display: block;
                object-fit: cover;
            }
        }
    }
}