.tabSet {
    max-width: 100%;
    margin: 1em auto;
    overflow: hidden;
    @extend %clearfix;
    @include screen('mobile') {
        width: auto;
        height: auto !important;
    }
}
.tabs {
    position: relative;
    &>.tabItem {
        &.active>a {
            background-color: $primaryColor;
            color: #FFF;
        }
        float: left;
        margin: 0;
        padding: 0;
        font-size:1em;
        line-height: 1;
        @include screen('mobile') {
            float: none;
            &>a {
                width: 100% !important;
                border-bottom: 1px solid #888;
            }
            &.active>a {
                border-color: #bbb;
            }
        }
        &>a {
            display: block;
            padding: 16px 0 14px;
            text-align: center;
            background-color: #aaa;
            color: #fff;
            font-weight: bold;
            text-decoration: none;
            @include text-overflow;
            @include box-sizing;
            &:hover {
                background: $primaryColor;
            }
        }
    }
}
//多組 可設定差異
.example-2 {
    .tabItem>a:hover {
        background: $secondaryColor;
    }
    .tabItem.active>a {
        background: $secondaryColor;
    }
}
// 顯示content
.active+.tabContent {
    display: block;
}
.tabContent {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    clear: both;
    padding: 30px 20px;
    display: none;
    @include screen('mobile') {
        position: static;
    }
    ul {
        @include li-reset;
    }
    li {
        margin: 0 0 1.3em 0;
        padding: 0;
        line-height: 1.6;
        border-bottom: 1px #CCC dashed;
        @include screen('mobile') {
            @include text-overflow();
        }
        a {
            @include aSetting_nocolor;
        }
        time {
            display: inline-block;
            margin: 0 0 0 1em;
            font-size: .813em;
            color: #666;
        }
    }
}