//https://codepen.io/iMarkup/pen/LEjMZN

// @mixin text-overflow($overflow: ellipsis) {
//     overflow: hidden;
//     white-space: nowrap;
//     text-overflow: $overflow; // values are: clip, ellipsis, or a string
// }

@mixin text-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin text-line($value,$line-hight) {
	overflow: hidden;
	text-overflow: -o-ellipsis-lastline;
	text-overflow: ellipsis;					// ellipsis＝省略
	display: -webkit-box;
	-webkit-line-clamp: $value;
	-webkit-box-orient: vertical;
	line-height: $line-hight;					// X 填入行高 px 值
	height: calc( #{$line-hight} * #{$value}); 	// 限定高度為 X * N 的 px 值
}

//範例：
// p {
//   background-color: $gray;
//   color: white;
//   padding: 10px 20px;
//   width: 300px;
//   margin: 0 auto;
//   @include text-overflow;
// }
// p{
// 	@include text-line(2,23px);                    // 多行（行數、行高）
// }