/////////////////////////////////////////////////////////以下為demo範例///
// 首頁區塊設定
// 範例：
.demosection {
    [class^="col"] {
        border: 2px solid #FFF;
        background: #DEDEDE;
    }
}
// 首頁輪播
.mpSlider {
    width: 100%;
    padding-bottom: 3em;
    @include gutter(0);
    .img-container {
        @include aspect-ratio(5, 2);
    }
}
// 廣告輪播
.adSlider {
    @include gutter(70px);
    margin-bottom: 20px;
    @include screen('mobile') {
        @include gutter();
    }
    .slick-prev {
        background: url(../vendor/slick/icon_arrow_left_inverse.png) no-repeat center center;
        background-size: 80%;
        left: -15px;
    }
    .slick-next {
        background: url(../vendor/slick/icon_arrow_right_inverse.png) no-repeat center center;
        background-size: 80%;
        right: -15px;
    }
    .img-container {
        width: 165px;
        height: 55px;
        margin: 0px 15px;
        a {
            display: block;
            text-align: center;
            img {
                margin: 0 auto;
            }
        }
        &:focus {
            &:before {
                content: "";
                position: absolute;
                z-index: 9;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                box-shadow: 0 0px 0px 3px $primaryColor inset;
            }
        }
    }
}