/////////////////////////////////////////////////////////以下為demo範例///
// 首頁區塊設定

// more按鈕
a.more {
    display: block;
    width: 10em;
    text-align: center;
    height: 2.5em;
    margin: .5em auto .5em;
    line-height: 2.5;
    color: $primaryColor;
    border: 1px solid $primaryColor;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    &:after {
        content: "";
        width: 12px;
        height: 12px;
        border: 2px solid #FFF;
        transform: rotate(45deg);
        position: absolute;
        right: -10px;
        top: 14px;
        border-left: none;
        border-bottom: none;
        transition: .3s ease-out;
    }
    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $primaryColor;
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    &:hover,
    &:focus,
    &.active {
        color: white;
        &:before {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
        &:after { right: 15px; }
    }
}

// 範例：
.demosection {
    [class^="col"] {
        border: 2px solid #FFF;
        background: #DEDEDE;
    }
}
// 首頁輪播
.mpSlider {
    width: 100%;
    padding-bottom: 3em;
    @include gutter(0);
    .img-container {
        @include aspect-ratio(5, 2);
    }
}
// 廣告輪播
.adSlider {
    @include gutter(70px);
    margin-bottom: 20px;
    @include screen('mobile') {
        @include gutter();
    }
    .slick-prev {
        background: url(../vendor/slick/icon_arrow_left_inverse.png) no-repeat center center;
        background-size: 80%;
        left: -15px;
    }
    .slick-next {
        background: url(../vendor/slick/icon_arrow_right_inverse.png) no-repeat center center;
        background-size: 80%;
        right: -15px;
    }
    .img-container {
        width: 165px;
        height: 55px;
        margin: 0px 15px;
        a {
            display: block;
            text-align: center;
            img {
                margin: 0 auto;
            }
        }
        &:focus {
            &:before {
                content: "";
                position: absolute;
                z-index: 9;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                box-shadow: 0 0px 0px 3px $primaryColor inset;
            }
        }
    }
}