/////////////////////////////////////////////////////////以下為demo範例///
// 登入頁
.Login{
	.header {
		// 導覽列
		.navigation {
			top: 16px;
			.navlist{
				ul{
					display: flex;
					li{
						a{
							color: #222;
							border-radius: 4px;
							background: url(../images/icon-arrow-black.svg) 10px 50% no-repeat, transparent;
							background-size: 12px 12px;
							&:hover, &:focus{
								color: #fff;
								background: url(../images/icon-arrow.svg) 10px 50% no-repeat, $primaryColor;
								background-size: 12px 12px;
							}	
						}
					}
				}
			}
		}
	}
	.control_panle{
		.container{
			background: url(../images/bg-hero-personal.png) 50% 20% no-repeat, #fff;
      background-size: contain;
			min-height: 683px;
			box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

			position: relative;
			&:after{
				width: 362px;
				height: 396px;
				background: url(../images/deco-been-2-personal.png) 50% 50% no-repeat;
				left: auto;
				top: auto;
				right: -160px;
				bottom: -200px;
				z-index: -1;
			}

			&:before{
				background: url(../images/deco-been-1-personal.png) 50% 50% no-repeat;
				top: 420px;
			}
		}
		.col{

			&:after{
				display: none;
			}
			.login_title{
				padding-right: 54%;
				.main-title{
					color: #996c33;
				}
			}
			.pin_panel{
				padding-right: 40%;
				text-align: center;
				padding-top: 1.5em;
    		padding-bottom: 2em;
				button{
					border-radius: 40px;
                    padding: .75em 0;
                    width: 100%;
                    font-size: 1.25em;
				}

				.btn_grp{
					display: flex;
					flex-wrap: nowrap;
					button{
						width: auto;
						flex: 1 1 auto;
					}
				}
			}
			.tips {
				box-shadow: rgba(0,0,0,0.1) 0px -80px 90px;
				backdrop-filter:blur(5px);
				padding: 1em 1.75em;
				border-top-left-radius: 8px;
				border-top-right-radius: 8px;
				// background: #ffffffba;
				// backdrop-filter: blur(5px);
				// box-shadow: rgba(0, 0, 0, .1) 0px -80px 90px;
				// box-shadow: rgba(255, 255, 255, 0.1) 0px -1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px -50px 100px -20px, rgba(0, 0, 0, 0.3) 0px -30px 60px -30px;
				
				&:after{
					display: none;
				}
				.tips_title {
					// color: darken($primaryColor, 50);
				}
				ol {
					li {
						a {
							color: #ce491d;
							&:focus,
							&:hover {
								text-decoration: none;
							}
						}
					}
				}
			}
		}
	}

	@include screen('mobile') {
		.control_panle{
			.container{
				background: url(../images/bg-hero-personal.png) 15% 20% no-repeat, #fff;
				box-shadow: none;
			}
			.col{
				.login_title,
				.pin_panel{
					padding-right: 34%;

					.btn_grp{
						flex-wrap: wrap;
						button{
							width: 100%;
						}
					}
				}
			}
		}
	}
	@include screen('xs_mobile') {
		.control_panle{
			.container{
				background: url(../images/bg-hero-personal.png) 0 20% no-repeat, #fff;
			}
			.col{
				.login_title,
				.pin_panel{
					padding-right: 0;
				}
			}
		}
	}
}
// 內頁
.Page{
	.header {
        h1{
        	a{
        		span{
        			color: #dc4e32;
        			b {
                        color: #333;
                    }
        		}
        	}
        }
        // 導覽列
        .navigation {
        	a{
                background: url(../images/icon-arrow-black.svg) 6px 50% no-repeat,transparent;
                background-size: 12px 12px;
            }
        }
        &.fixed{
        	background: adjust_hue(desaturate(darken(#7a5238, 7), 12), 0);
        }
    }
    .menu{
    	background: adjust_hue(desaturate(darken(#7a5238, 7), 12), 0);
    }

    .innerpage{
    	>.container {
    		// 白色區域內
            .white_zone{
            	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            }
    	}
    }

    .fill_steps{
	    a{
	        b{
	            background: #333;
	        }

	        transition: .1s;

	        &:hover, &:focus,
	        &.active{
	            background: #dc4e32;
	            b{
	            	background: transparent;
	            }

	        }
	    }
	}

	// 表單
	.flex-form .form_content .form_grp .form_title{
		color: #222;
		background: url(../images/icon-arrow-innerpage2.svg) 2px 45% no-repeat;
    	background-size: 10px 10px;
	}
}
// 步驟流程
.step-flow {
	span.belt {
		background-image: linear-gradient(to right, #f43b47 0%, #453a94 100%);
		// background: linear-gradient(90deg, rgba(0, 104, 183, 1) 0%, rgba(0, 158, 150, 1) 100%);
	}
}
//////////////////////////////////////////////////////////// 調整
html,body{
	&.Login{ background: url(../images/bg-blur-ball-personal.png) 50% -4px no-repeat, #fdefdd; }
    &.Page{
        background: url(../images/bg-hand.png) right 4% top -30px no-repeat, 
                    url(../images/bg-blur-ball-personal.png) 50% 0 no-repeat,
                    #fdefdd;
        background-attachment: fixed;
    }
}

footer{
	a {
        text-decoration: none;
        color: $lightColor;
        &:hover,
        &:focus {
            color: darken($lightColor, 10);
        }
    }
    // 版權連結
    .footer_link {
    	li{
    		a{
    			&:hover,
                &:focus {
                	background: #222;
                }
    		}
    	}
    }
}

.btn-submit {
    @include btn_setting(lighten($lightColor, 0), #FFF);
}