* {
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    &.noscroll {
        position: static !important;
        width: 100%;
        height: 100%;
        overflow: hidden !important;
        overflow-y: hidden !important;
        margin: 0;
        padding: 0;
    }
}
// 最外圍預設為100%
.wrapper {
    width: 100%;
    margin: 0px auto;
    @include screen('mobile') {
        background: #FFF;
        overflow: hidden;
        overflow-y: auto;
    }
}
// 整體共用container樣式，請注意首頁切版頁面的整齊
.container {
    padding: 0;
    margin: 0 auto;
    max-width: $container-max; //請看_variable.scss
}
.main {
    position: relative;
    margin: 0 auto;
    padding: 0;
    // 可先設定一個中央區塊最大寬，限制accesskey對齊
    @include screen('mobile') {
        padding-top: 55px;
    }
    h2 {
        line-height: 1.25em;
    }
}
////////////////////////////////////////////////////////////
// 為了與首頁區隔，請在內頁加上innerpage ClassName
.innerpage {
    padding-top: 2em;
    @include screen('mobile') {
        padding-top: 5em;
    }
    >.container {
        @include gutter(); //gutter 代表左右要留白
    }
}