$m-gutter: 4px;

* { box-sizing: border-box; }
html { scroll-behavior: smooth; }
body {
    &.noscroll {
        position: static !important;
        width: 100%;
        height: 100%;
        overflow: hidden !important;
        overflow-y: hidden !important;
        margin: 0;
        padding: 0;
    }
}
// 最外圍預設為100%
.wrapper {
    width: 100%;
    margin: 0px auto;
    @include screen('mobile') {
        background: #FFF;
        overflow: hidden;
        overflow-y: auto;
    }
}
// 整體共用container樣式，請注意首頁切版頁面的整齊
.container {
    padding: 0;
    margin: 0 auto;
    max-width: $container-max; //請看_variable.scss
}
.main {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 0 0;
    // 可先設定一個中央區塊最大寬，限制accesskey對齊
    h2 {
        line-height: 1.25em;
    }

    @include screen('mobile') {
        padding: 60px 0 0;
    }
}

.text-left{ text-align: left !important;}

//////////////////////////////////////////////////////////// 調整
html,body{
    &.Login, &.Page{
        width: 100%;
        height: 100%;
        // background: #e2e8ee;
        overflow-x: hidden;
        
    }
    &.Login{ background: url(../images/bg-blur-ball.png) 50% 0 no-repeat, #e2e8ee; }
    &.Page{
        background: url(../images/bg-hand.png) right 4% top -30px no-repeat, 
                    url(../images/bg-blur-ball.png) 50% 0 no-repeat,
                    #e2e8ee;
        background-attachment: fixed;
    }
}
// 定位點位置、gutter
header, footer {
    .container {
        @include gutter(3em);
    }
    .accesskey{
        left: 0px;
    }
}

header{
    @include screen('mobile') {
        .container {
            padding-left: 60px;
            padding-right: 0;
        }
    }
}

footer {
    .container {
        position: relative;
    }
    .footer_icon {
        position: absolute;
        right: 0;
        top: 0;

        @include screen('mobile') {
            position: static;
        }
    }
}

// 登入頁
.Login{
    .header {
        h1{
            // margin: initial;
            height: inherit;
            a{ padding: .5em 0 0; }
        }
        // 導覽列
        .navigation {
            display: inline-block;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
            // background: antiquewhite;
            .navlist{
                ul{
                    display: block;
                    padding: .75em 0;
                    li{
                        a{
                            color: #fff;
                            padding: 0 8px 0 2.5em;
                            line-height: 1.8;
                            background: url(../images/icon-arrow.svg) 10px 50% no-repeat, transparent;
                            background-size: 12px 12px;

                            &:hover, &:focus{
                                background: url(../images/icon-arrow.svg) 10px 50% no-repeat, #000;
                                background-size: 12px 12px;
                            }
                        }
                    }
                }
            }

            @include screen('mobile') {
                display: none;
            }
        }

        @include screen('mobile') {
            h1{
                a{ padding: 0; }
            }
        }
    }
    .control_panle{
        .container{
            background: #fff;
            padding: 2em 4em;
            border-radius: 1.5em;

            position: relative;
            &:after{
                content: '';
                position: absolute;
                width: 1420px;
                height: 900px;
                background: url(../images/bg-hero.png) right top no-repeat;
                top: -124px;
                left: 0
            }
            &:before{
                content: '';
                position: absolute;
                width: 145px;
                height: 152px;
                background: url(../images/deco-been-1.png) 50% 50% no-repeat;
                left: -100px;
                top: 48%;
            }
        }
        .col{
            position: relative;
            z-index: 1;

            .login_title{
                width: 100%;
                padding-right: 30%;
                .main-title{
                    font-size: 2.4em;
                    color: darken($primaryColor, 5);
                    span{
                        color: #0068b7;
                        display: block;
                    }
                }
                p{ line-height: 1.8;}
            }

            .pin_panel{
                // height: 334px;
                padding-top: 1.5em;
                padding-bottom: 13em;
                position: relative;
                z-index: 3;

                .flex-form.form_inline {
                    border-bottom: 1px dashed transparent;
                }

                .form_grp{
                    .form_title{
                        color: #222;
                        line-height: 3.5;
                    }
                    .form_content{
                        max-width: 100%;
                        input{
                            width: 390px;
                            border-radius: 40px;
                            padding: .65em 1.75em;
                            font-size: 1.25em;

                            box-shadow: rgba(39, 174, 207, 1) 0px 7px 120px 0px;
                        }
                    }
                }

                .btn_grp{
                    input{
                        border-radius: 40px;
                        padding: .65em 0;
                        width: 180px;
                        font-size: 1.25em;
                    }
                }
            }

            .tips{
                background: $secondaryColor;
                padding: 1em 1.75em;
                margin: 0 -1.25em;
                border-radius: 6px;
                position: relative;
                z-index: 3;

                &:after{
                    content: '';
                    position: absolute;
                    width: 85px;
                    height: 100px;
                    background:  url(../images/deco-been-2.png) 50% 50% no-repeat;
                    right: -120px;
                    top: -160px;
                }

                .tips_title{
                    color: darken($primaryColor, 50);
                    span{
                        padding-bottom: 4px;
                        border-bottom: 3px solid darken($primaryColor, 50)
                    }
                }

                ol{
                    margin-top: 2.25em;
                    li{
                        line-height: 1.6;
                        letter-spacing: 1px;
                        margin: 8px 0;
                        a{
                            padding-left: 10px;
                            padding-right: 10px;
                            text-decoration: underline;
                            &:focus, &:hover{
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }

        @include screen('tablet') {
            .container{
                padding: 2em 2.5em 0;

                &:after{
                    left: auto;
                    right: -45%;
                }
                &:before{
                    display: none;
                }
            }

            .col{
                .login_title{
                    padding-right: 0;
                    text-align: center;
                }
                .pin_panel{
                    padding-bottom: 6em;
                    .form_inline{
                        .form_grp,
                        .btn_grp{
                            flex: 1 1 100%;
                            position: relative;
                        }
                    }

                    .form_grp{
                        .form_title{}
                        .form_content{
                            input{ width: 100%; }
                        }
                    }
                }
            }
        }

        @include screen('mobile') {
            .container{
                border-radius: 0;
                &:after{
                    left: 0;
                    right: auto;
                }
            }
            .col{
                .login_title{
                    .main-title{
                        span{ display: block; }
                    }
                }

                .pin_panel{
                    .form_grp{
                        .form_title{
                            line-height: normal;
                            padding: .25em;
                        }
                    }
                }
            }
        }
    }
}

// 內頁
.Page{
    .header {
        h1{
            width: -moz-fit-content;  // firefox
            width: fit-content;
            max-width: calc(100% - 300px);
            float: initial;
            height: inherit;
            a{
                padding: .5em 0 0;
                display: flex;
                flex-flow: row nowrap;
                img{ height: 44px; }
                span{
                    color: $primaryColor;
                    font-size: .62em;
                    padding: 2px 0 0 6px;
                    b{
                        color: #0068b7;
                    }
                }
            }
        }
        // 導覽列
        .navigation {
            display: inline-block;
            position: absolute;
            right: 0;
            top: .5em;
            z-index: 1;

            a{
                padding: .5em .5em .5em 1.5em !important;
                background: url(../images/icon-arrow-innerpage.svg) 6px 50% no-repeat,transparent;
                background-size: 12px 12px;
            }

            @include screen('mobile') {
                display: none;
            }
        }

        // 使用者已登入
        .user_login{
            text-align: right;
            margin-bottom: .75em;

            @include screen('mobile') {
                display: none;
            }
        }

        @include screen('mobile') {
            background: #fff;

            h1{
                max-width: 100%;
                width: 100%;
                a{
                    padding: 2px 0;
                    flex-flow: row wrap;
                    img{
                        height: 28px;
                    }
                    span{
                        flex: 1 1 100%;
                        font-size: .48em;
                        margin: auto;
                        line-height: 1.2;
                    }
                }
            }
        }
    }
    .header.fixed {
        background: rgba(29, 144, 172, .95);

        .menu{
            background: transparent;
        }
    }
    .menu{
        background: #1d90ac;
        border-radius: 30px;
        overflow:  hidden;
        >ul {
            justify-content: center;
            // 第一層選單樣式
            >li {
                flex: 0 1 auto;
                a{
                    color: #fff;
                    text-align: center;
                    line-height: 3.75em;
                }
            }
        }

        @include screen('mobile') {
            background: transparent;
            border-radius: 0;
        }
    }
    footer {
        .footer_icon {
            right: 16px;
        }
    }

    .innerpage{
        >.container {
            // background: #fff;
            // padding: 2em 4em;
            // border-radius: 1.5em;

            .breadcrumb{
                border-bottom: transparent;
                padding: 10px 2em;
                ul li{
                    a{
                        text-decoration: underline;
                    }
                    &:before{ color: #222; }
                }
            }

            // 白色區域內
            .white_zone{
                background: #fff;
                padding: 2em;
                border-radius: 1.5em;

                h2.title{
                    text-align: center;
                    padding: .5em 0;

                    &:after{
                        content:'';
                        display: block;
                        width: 36px;
                        height: 3px;
                        background: #b5b5b5;
                        margin: 12px auto 0;
                    }
                }

                h3.subtitle{
                    text-align: center;
                    color: $primaryColor;
                    span{
                        display: inline-block;
                        border: 1px solid $primaryColor;
                        padding: .5em 2em;
                    }

                    &.warn{
                        color: #b70000;
                        span{
                            border: 1px solid #b70000;
                        }
                    }
                }
            }
        }
        @include screen('mobile') {
            padding-top: 62px;
            >.container {
                .white_zone{
                    padding: 1em 1.25em;
                }
            }
        }
    }
}

// 按鈕
.btn-logout{
    border-radius: 40px;
    padding: 3px 20px;
}
.btn-check{
    &.checked{
        background: $primaryColor!important;
        color: #fff !important;
        border: solid 1px $primaryColor!important;

        &:hover,
        &:focus {
            background: darken($primaryColor, 10)!important;
            border: solid 1px $primaryColor!important;
        }
    }
}

// 表單
.form_title{
    font-size: 1.25em;
    margin: 2px 0;
    font-weight: bold;
}

// 增減
.incr_dec{
    .item{
        select{
            width: 60%;
        }
    }
}

// tel_type2
.flex-3-6-3{
    @extend %flex_set;

    .form_grp{
        @include flex-xs(12, 0px);
        @include flex-sm(12, 0px);
        @include flex-md(3, 0px);
        @include flex-lg(3, 0px);

        &:nth-child(2){
            @include flex-xs(12, 0px);
            @include flex-sm(12, 0px);
            @include flex-md(6, 0px);
            @include flex-lg(6, 0px);
        }
    }
}

// 分機
.extension{
    position: relative;
    input{
        padding-left: 2em;
    }
    &:before{
        content: '#';
        position: absolute;
        top: 13px;
        left: 16px;
    }
}

// 里、鄰
.Vil{ width: 120px !important; }
.Neighborhood{ width: 60px !important; }

.address_type2{
    > div{ width: 100%; }
    .user_typing{
        width: 100% !important;
    }
}

// 共通模組
.necessary{
    background: #b70000;
    color: #fff;
    font-weight: bold;
    font-size: 70%;
    line-height: initial;
    display: inline-block;
    padding: 1px 6px;
    margin: 0 6px 0 0;
    border-radius: 4px;
}

.gaze{
    background: #f0f0f0;
    display: block;
    width: 100%;
    padding: .75em .5em;
}
// 說明事項
.caption{
    background: #f6f6f6;
    padding: 1.5em 2.5em;
    border-radius: 4px;
    margin: 2em 0;

    .title{
        span{
            padding-bottom: 4px;
            border-bottom: 3px solid #aaa;
        }
    }

    &.announce{
        .title{
            text-align: center;
            font-size: 160%;
            line-height: 1.4;
            margin: 1em 0 2em;
            span{
                border-bottom: none;
            }
        }
    }

    @include screen('mobile') {
        padding: 1.5em 2.5em;
        margin: 1em 0;
    }
}
// 個資聲明
.statement{
    margin: 1em 0;
    padding: 1.25em 2em;
    border: 1px solid #ddd;

    +.check_grp{
        padding: 1em 0;
    }
}
.edit_note{
    width: 100%;
    p{
        border-bottom: 1px dotted #ddd;
        margin: 0;
        padding: .5em 0;

        &:last-child{
            border-bottom: none;
            margin-bottom: -.3em;
        }
    }
    time{
        padding: 0 .5em;
    }
}
// 篩選
.filter{
    padding: 1.25em 2.5em;
    border: 1px solid #ddd;

    .flex-form,
    .form_grp{ margin: 0;}

    .form_title{
        text-align: right;
        font-size: 110%;
        padding-right: .5em;
    }

    @include screen('mobile') {
        .form_title{
            text-align: left;
        }
    }
}
// 篩選結果
.result-title{
    text-align: center;
    font-size: 135%;
    span{
        background: #fff;
        display: inline-block;
        padding: .5em 1.5em;

        position: relative;
        &:before, &:after{
            content: '';
            position: absolute;
            width: 60px;
            height: 1px;
            background: #222;
            top: 50%;
        }
        &:before{
            left: -60px;
        }
        &:after{
            right: -60px;
        }
    }
}
// table 按鈕
a{
    &.tb-edit, &.tb-doc,
    &.tb-print, &.tb-view{
        font-size: 0;
        display: block;
        margin: auto;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background: #e4e4e4;
        transition: all 600ms ease;
    }

    &.tb-edit{
        background: url(../images/icon/icon_edit.svg) 50% 50% no-repeat, #e4e4e4;
        background-size: 22px 22px;
        &:hover, &:focus{
            background: url(../images/icon/icon_edit2.svg) 50% 50% no-repeat, #1d90ac;
            background-size: 22px 22px;
        }
    }
    &.tb-doc{
        background: url(../images/basic/icon_doc.svg) 50% 50% no-repeat, #e4e4e4;
        background-size: 22px 22px;
        &:hover, &:focus{
            background: url(../images/basic/icon_doc2.svg) 50% 50% no-repeat, #1d90ac;
            background-size: 22px 22px;
        }
    }
    &.tb-print{
        background: url(../images/basic/icon_print2.svg) 50% 50% no-repeat, #e4e4e4;
        background-size: 22px 22px;
        &:hover, &:focus{
            background: url(../images/basic/icon_print.svg) 50% 50% no-repeat, #1d90ac;
            background-size: 22px 22px;
        }
    }
    &.tb-view{
        background: url(../images/icon/icon_show.svg) 50% 50% no-repeat, #e4e4e4;
        background-size: 22px 22px;
        &:hover, &:focus{
            background: url(../images/icon/icon_show2.svg) 50% 50% no-repeat, #1d90ac;
            background-size: 22px 22px;
        }
    }
}
// table 操作 panel
.table-flex-set{
    @extend %flex_set;
    align-items: center;
    width: 100%;

    .col{
        &.panel{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            span{ padding: 0 .75em; }
            .btn_grp{
                padding: 6px 0;
                text-align: right;
            }

            @include screen('mobile') {
                span{ padding: 0 .75em 0 0; }
            }
        }
    }
}
.title_tip{
    font-size: 1.25em;
    margin: 16px 0;
}
// 資料預覽
.info-review{
    background: #f8f8f8;
    padding: 1em 2em;

    // 第一層
    >.grp{
        margin: 1.25em 0;
        // border-bottom: 1px dotted #aaa;

        .content{
            p{ margin: .25em 0; }
            ol, ul{}
            .caption{
                margin: 0;
                padding: 0 0 0 2.5em;
                background: none;
                font-size: 90%;
            }
        }

        // 組合1 的html架構
        >.content{
            color: #4e4e4e;
            padding: .75em 0;
            // background: deeppink;

            // 第二層
            .grp{
                padding: .75em 0;
                border-bottom: 1px solid #c7c7c7;
                .title{
                    font-size: 112.5%;
                    font-weight: bold;
                    padding-top: .25em;
                    color: darken($primaryColor, 5);
                }
                .content{
                    padding: .25em 0;
                    font-size: 112.5%;

                    // 當 content 沒有文字時
                    min-height: 33px;
                }
            }
        }

        // 組合2 的html架構
        >.title{
            font-size: 112.5%;
            font-weight: bold;
            color: darken($primaryColor, 5);

            +.content{
                color: #4e4e4e;
                padding: .25em 0 .75em;
                // background: deeppink;

                // 第二層
                .grp{
                    padding: .75em 0;

                    .title{
                        font-size: 100%;
                        font-weight: bold;
                        color: #000;
                        span{
                            display: inline-block;
                            // border-bottom: 2px solid #000;
                            padding-bottom: 4px;
                        }
                    }
                    .content{
                        // padding: 0 0 .25em;
                        font-size: 112.5%;
                    }
                }
            }
        }


        // .content{
        //     color: #4e4e4e;
        //     padding: .75em 0;
        // }

        // // 第二層
        // .grp{
        //     padding: .25em 0;
        //     .title{
        //         font-size: 100%;
        //         font-weight: bold;
        //         color: #000;
        //         span{
        //             display: inline-block;
        //             border-bottom: 2px solid #000;
        //             padding-bottom: 4px;
        //         }
        //     }
        //     .content{
        //         padding: .25em 0;
        //     }
        // }
    }
}
// loading
.loading{
    text-align: center;
    font-size: 125%;

    svg{
        // width: 100px;
        // height: 100px;
        margin: 40px;
        display:inline-block;
    }
}
// 
$offset: 187;
$duration: 1.4s;
.spinner { animation: rotator $duration linear infinite; }
@keyframes rotator {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(270deg); }
}
.path {
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation:
        dash $duration ease-in-out infinite, 
        colors ($duration*4) ease-in-out infinite;
    }
@keyframes colors {
    0% { stroke: #4285F4; }
    25% { stroke: #DE3E35; }
    50% { stroke: #F7C223; }
    75% { stroke: #1B9A59; }
    100% { stroke: #4285F4; }
}
@keyframes dash {
    0% { stroke-dashoffset: $offset; }
    50% {
        stroke-dashoffset: $offset/4;
        transform:rotate(135deg);
    }
    100% {
        stroke-dashoffset: $offset;
        transform:rotate(450deg);
    }
}

// 按鈕的均分
.flex-form{
    .btn_grp.equal-2,
    .btn_grp.equal-3,
    .btn_grp.equal-4{
        margin: 0;
        @extend %flex_set;
        .btn{
            margin-left: 0;
            margin-right: 0;
            @include text-line(1,40px);
            line-height: inherit;
            // white-space: inherit;
        }
    }

    .btn_grp.equal-2{
        .btn{
            @include flex-xs-equal(1, 0px);
            @include flex-sm-equal(1, $m-gutter);
            @include flex-md-equal(2, $m-gutter);
            @include flex-lg-equal(2, $m-gutter);
        }
    }
    .btn_grp.equal-3{
        .btn{
            @include flex-xs-equal(1, 0px);
            @include flex-sm-equal(1, $m-gutter);
            @include flex-md-equal(3, $m-gutter);
            @include flex-lg-equal(3, $m-gutter);
        }
    }
    .btn_grp.equal-4{
        .btn{
            @include flex-xs-equal(1, 0px);
            @include flex-sm-equal(2, $m-gutter);
            @include flex-md-equal(4, $m-gutter);
            @include flex-lg-equal(4, $m-gutter);
        }
    }
}

p a,
li a,
b, b.R, b.B{
    display: inline-block;
    padding: .15em .25em;
}

// 照片上傳 
.foto-upload{

    background: #f6f6f6;
    padding: 1.5em 2.5em;
    border-radius: 4px;
    margin: 2em 0;
    .foto{
        text-align: center;
        img{
            height: 300px;
        }
    }
    .info{
        ol{
            border: 1px solid #d4d4d4;
            padding: 1.125em 2em 1.125em 3em;

            li{
                padding: .25em 0;
            }
        }
        .check_grp{
            text-align: center;
        }
    }

    &.warn{
        // background: #f6f6f6;
        // padding: 1.5em 2.5em;
        // border-radius: 4px;
        // margin: 2em 0;

        @extend %flex_set;
        .foto{
            @include flex-xs(12, 0px);
            @include flex-sm(4, $m-gutter);
            @include flex-md(4, $m-gutter);
            @include flex-lg(4, $m-gutter);
            @include gutter();
            text-align: center;
        }
        .info{
            @include flex-xs(12, 0px);
            @include flex-sm(8, $m-gutter);
            @include flex-md(8, $m-gutter);
            @include flex-lg(8, $m-gutter);
            ol{
                margin: 0;
                border: 1px solid transparent;
            }
        }
    }
}

// 照片調整
.foto-adjust{
    h3{ text-align: center;}
}

// 流程
.process{
    @extend %flex_set;
    align-items: stretch;
    .col{
        @include flex-xs-equal(1, 0px);
        @include flex-sm-equal(3, $m-gutter);
        @include flex-md-equal(3, $m-gutter);
        @include flex-lg-equal(3, $m-gutter);

        border: 1px solid #ddd;
        padding: 1em 1.5em 2em;

        h3.title{
            font-size: 140%;
            border-bottom: 1px solid #e6e6e6;
            margin: 0 -1em;
            padding: 1em;
            color: #0068b7;
        }
        p{}

        // 圓球寬度
        $ball_weith: 56px;
        .step{
            section{
                display: flex;
                flex-flow: row nowrap;
                align-items: flex-start;
                padding: 0 0 .75em;

                position: relative;
                &:before{
                    content: '';
                    position: absolute;
                    width: 1px;
                    height: 100%;
                    background: #82c9c9;
                    left: 28px;
                }

                &:first-child{
                    &:before{
                        // height: 50%;
                        height: calc(100% - .75em);
                        bottom: 0;
                    }
                }
                &:last-child{
                    &:before{
                        height: 45%;
                        top: 0;
                    }
                }

                span.num{
                    flex: 0 0 $ball_weith;
                    position: relative;

                    text-align: center;
                    display: block;
                    font-size: 140%;
                    height: 56px;
                    line-height: 56px;
                    font-weight: bold;
                    color: #fff;
                    background: #82c9c9;
                    border-radius: 50%;
                }
                h4{
                    flex: 1 1 auto;
                    flex-basis: calc(100% - 56px);
                    color: #222;

                    margin: 0;
                    padding: .95em .5em;
                    font-size: 120%;
                    span{
                        display: block;
                        font-size: 84%;
                        font-weight: normal;
                        color: #666;
                        line-height: 1.3;
                        padding-top: 6px;
                    }
                }
            }
        }
    }
}

// PDF 頁面設定
.PDF{
    width: 794px;
    height: 1123px;
    background: #fff;
    margin: 0 auto;
}

//////////////////////////////////////////////////////////// 模組：個人頁面
// 個人
.table_title{
    font-size: 130%;
    margin: 2em 0 1em;
}
// table 樣式
.table_box{
    border: 1px solid #ddd;
    th{
        width: 120px
    }
    td{
        text-align: left;
    }
}

// 步驟流程
.step-num{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 4px;
    color: #d6d6d6;
    padding-top: .5em;
}
.step-flow{
    display: block;
    height: 12px;
    border-radius: 20px;
    overflow: hidden;
    // background: #e8e8e8;
    border: solid 1px #f0f0f0;

    position: relative;
    span.mask{
        position: absolute;
        width: auto;
        height: 100%;
        overflow: hidden;

        // span.belt{
        //     position: absolute;
        //     width: 100%;
        //     height: 100%;
        //     background: rgb(0,104,183);
        //     background: linear-gradient(90deg, rgba(0,104,183,1) 0%, rgba(0,158,150,1) 100%);
        //     // animation: Belt 1s ease infinite;
        // }
    }

    span.belt{
        position: absolute;
        width: 100%;
        height: 16px;
        background: rgb(0,104,183);
        background: linear-gradient(90deg, rgba(0,104,183,1) 0%, rgba(0,158,150,1) 100%);
    }
}

// 預約時段 
.time_reserve{
    .info{
        padding: 1.5em 0;
    }

    .date,
    .time_period .AM,
    .time_period .PM{
        .part{
            @extend %flex_set;
            .col{
                text-align: center;
                background: #fff;
                border: 1px solid #ddd;
                padding: 1em 0;
                border-radius: 4px;
                display: block;
                font-size: 1.2em;
                transition: all 200ms ease-in;

                time{ display: block; }

                &:hover, &:focus{
                    cursor: pointer;
                    // background: darken($linkColor, 2);
                    background: adjust_hue(desaturate(lighten($linkColor, 18), 45), -15);
                    color: #fff;
                }

                &.act{
                    background: adjust_hue(desaturate(lighten($linkColor, 18), 45), -15);
                    color: #fff;
                }
                &.occupied{
                    background: darken($linkColor, 10);
                    color: #fff;
                }
                &.full{
                    background: #ddd;
                    color: #666;
                    &:hover, &:focus{
                        cursor: not-allowed;
                    }
                }
            }
        }
    }

    // 日期
    .date{
        position: relative;
        .part{
            // @extend %flex_set;
            margin: 0 3em;
            .col{
                @include flex-xs-equal(2, $m-gutter);
                @include flex-sm-equal(5, $m-gutter);
                @include flex-md-equal(10, $m-gutter);
                @include flex-lg-equal(10, $m-gutter);
                font-weight: bold;

                time{}
                span{ font-size: 80%; }

                &:hover, &:focus{}
            }
        }

        button{
            position: absolute;
            bottom: 0;

            // 前一則、下一則
            &.btn-pre, &.btn-next{
                border: 0;
            }

            &.btn-pre{
                background: url(../images/slick/icon_arrow_left_inverse.png) 70% 50% no-repeat;
                background-size: 20px 20px;
                transition: all 300ms ease;

                &:hover,&:focus{
                    background: url(../images/slick/icon_arrow_left_inverse.png) 40% 50% no-repeat;
                    background-size: 20px 20px;
                }
            }
            &.btn-next{
                right: 0;
                background: url(../images/slick/icon_arrow_right_inverse.png) 30% 50% no-repeat;
                background-size: 20px 20px;
                transition: all 300ms ease;

                &:hover,&:focus{
                    background: url(../images/slick/icon_arrow_right_inverse.png) 60% 50% no-repeat;
                    background-size: 20px 20px;
                }
            }
        }
    }
    // 時段
    .time_period{
        padding: 1em 3em;
        margin-top: 1em;
        background: #f8f8f8;
        .AM, .PM{
            margin: 30px 0;
            h3{ margin: 8px 0; }
            .part{
                // @extend %flex_set;
                .col{
                    @include flex-xs-equal(2, $m-gutter);
                    @include flex-sm-equal(4, $m-gutter);
                    @include flex-md-equal(8, $m-gutter);
                    @include flex-lg-equal(8, $m-gutter);

                    time{}
                    span{
                        font-size: 90%;
                        b{}
                    }

                    &:hover, &:focus{}
                }
            }
        }
    }
}

// ----------------Maichine---------------------
// @keyframes Belt{
//     0% {
//         background: linear-gradient(90deg, rgba(0,104,183,1) 0%, rgba(0,158,150,1) 100%);
//     }
//     100% {
//         background: linear-gradient(90deg, rgba(0,158,150,1) 0%, rgba(0,104,183,1) 100%);
//     }
// }


////////////////////////////////////////////////////////////
// 為了與首頁區隔，請在內頁加上innerpage ClassName
.innerpage {
    >.container {
        @include gutter(); //gutter 代表左右要留白
        display: flex;
    }
    .center_block {
        flex: none;
        flex-basis: 100%;
        max-width: 100%;
    }
    .left_block {
        flex: none;
        flex-basis: 260px;
        max-width: 260px;
        margin-right: 40px;
        &.hidden {
            +.center_block {
                flex: none;
                flex-basis: 100%;
                max-width: 100%;
            }
        }
        +.center_block {
            flex: auto;
            flex-basis: calc(100% - 300px);
            max-width: calc(100% - 300px);
        }
        @include screen('tablet') {
            display: none;
            +.center_block {
                flex: none;
                flex-basis: 100%;
                max-width: 100%;
            }
        }
    }
    &.small_size {
        font-size: .938em;
    }
    &.large_size {
        font-size: 1.125em;
    }
}
.hidden { display: none; }


