// 按鈕設定
$btn-font-color:$btn-word;
$btn-border:darken($btn-font-color, 5);
$btn-padding:.5em 1.25em;
$btn-radius:.2em;
// 按鈕外框
.btn_grp {
    text-align: center;
    padding: 1em 0;
}

// 按鈕的共用設定
@mixin btn_setting($btn-bg:#e0e0e0, $btn-font-color:$btn-font-color) {
    background: $btn-bg;
    border: 1px solid $btn-bg;
    color: $btn-font-color;
    // text-shadow:1px 1px 1px RGBA(0,0,0,.3);
    // border-radius: $btn-radius;
    // @include gradient(lighten($btn-bg, 5), darken($btn-bg, 15), vertical);
    &:hover{
        background: darken($btn-bg, 10); // Old browsers
        border: 1px solid darken($btn-bg, 20);
        cursor: pointer;
        color: #FFF;
        outline:none;
        // @include gradient(lighten($btn-bg, 10), darken($btn-bg, 18), vertical);
    }
    &:focus {
        background: darken($btn-bg, 10); // Old browsers
        border: 1px solid darken($btn-bg, 20);
        cursor: pointer;
        color: #FFF;
        outline:none;
        box-shadow: 0 0px 0px 2px $aFocus !important;
        // @include gradient(lighten($btn-bg, 10), darken($btn-bg, 18), vertical);
    }
    &.active {
        background: lighten($btn-bg, 5);
        cursor: pointer;
    }
}
// 按鈕預設陰影
%btn {
    font-size: $font-size;
    touch-action: manipulation;
    background-image: none; //修正firefox
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    // white-space: nowrap;
    line-height: normal;
    width: auto;
    padding: $btn-padding;
    min-width: 4em;
    margin:.25em .1em;
    
    i {
        margin-right: .25em;
        margin-left: .25em;
    }
}
// 按鈕基本樣式
.btn {
    @extend %btn;
    // box-sizing: border-box;
    @include btn_setting;
    text-shadow:none;
    &:hover,
    &:focus {
        color: $btn-font-color;
        outline: none;
    }
}
//按鈕顏色
//@include btn_setting(按鈕顏色,字的顏色);
.btn-green {
    // @extend %btn;
    @include btn_setting($color-green, #FFF);
}
.btn-blue {
    // @extend %btn;
    @include btn_setting($color-blue, #FFF);
}
.btn-yellow {
    // @extend %btn;
    @include btn_setting(lighten($color-yellow, 5), #333);
}
.btn-orange {
    // @extend %btn;
    @include btn_setting(lighten($color-orange, 0), #FFF);
}
.btn-red {
    // @extend %btn;
    @include btn_setting($color-red, #FFF);
}
.btn-purple {
    // @extend %btn;
    @include btn_setting(lighten($color-purple, 5), #FFF);
}
.btn-submit {
    // @extend %btn;
    @include btn_setting(lighten($primaryColor, 5), #FFF);
}
.btn-reset {
    // @extend %btn;
    color:lighten($color-word,15);
}
.btn-search {
    // @extend %btn;
    @include btn_setting(lighten($primaryColor, 5), #FFF);
}
// 主要按鈕
.btn-primary{
    background: $primaryColor!important;
    color: #fff !important;
    border: solid 1px $primaryColor!important;

    &:hover,
    &:focus {
        background: darken($primaryColor, 10)!important;
        border: solid 1px $primaryColor!important;

    }
}
// 次要按鈕
.btn-secondary{
    background: #fff !important;
    color: darken($primaryColor, 15)!important;
    border: solid 1px $primaryColor!important;
    text-shadow: none !important;
    &:hover,
    &:focus {
        color: #fff!important;
        background: darken($primaryColor, 15)!important;
        border-color: darken($primaryColor, 15)!important;
    }
}
.btn-secondary2{
    background: #fff !important;
    color: darken(#dc4e32, 5)!important;
    border: solid 1px #dc4e32!important;
    text-shadow: none !important;
    &:hover,
    &:focus {
        color: #fff!important;
        background: #dc4e32!important;
        border-color: darken(#dc4e32, 5)!important;
    }
}

// 一般按鈕
.btn-normal{
    background: #474747!important;
    color: #fff !important;
    border: solid 1px #65656E!important;
    text-shadow: none!important;
    &:hover,
    &:focus{
        color: #fff !important;
        background: #222!important;
        border: solid 1px #65656E!important;
    }
}
.btn-normal2{
    background: #fff!important;
    color: #474747 !important;
    border: solid 1px #acacac!important;
    text-shadow: none!important;
    &:hover,
    &:focus{
        color: #fff !important;
        background: #474747!important;
        border: solid 1px #acacac!important;
    }
}

// 返回
.btn-back{
    background: #555 !important;
    color: #fff !important;
    border: 1px solid #ddd !important;
    &:hover,
    &:focus {
        background: darken($primaryColor, 10) !important;
        border: 1px solid #ddd !important;
    }
}
// 刪除
.btn-delete{
    // background: #666;
    // color: #fff;

    .i_close{
        &:before{
            width: .85em;
            height: .85em;
            margin-top: -5px;
        }
    }
}
// 預覽
.btn-preview{
    font-size: 112.5%;
    border-radius: 50px;
    padding: .75em 2em;
    width: 100%;

    background: #666!important;
    color: #fff !important;
    border: solid 1px #acacac!important;
    text-shadow: none!important;
    &:hover,
    &:focus{
        color: #fff !important;
        background: #dc4e32!important;
        border: solid 1px #acacac!important;
    }
}

.disabled, [disabled] {
    // opacity: .75;
    cursor: not-allowed!important;
    text-shadow:none;
    color: #222 !important;
    border: 1px solid #e0e0e0 !important;
    background: rgba(224, 224, 224, .25) !important;

    &:hover, &:focus{
        color: #222 !important;
        border: 1px solid #e0e0e0 !important;
        background: rgba(224, 224, 224, .25) !important;
    }
}
.readonly, [readonly] {
    // opacity: .5;
    cursor: not-allowed!important;
    text-shadow:none;
}

// 自訂
// 前一則、下一則
.btn-pre, .btn-next{
    font-size: 0;
    width: 42px;
    height: 90px;
}



// 按鈕大小
.btn-xl {
    font-size: $font-size * 1.5; //24px
}
.btn-lg {
    font-size: $font-size * 1.25; //20px
}
.btn-sm {
    font-size: $font-size * .938; //15px
}
.btn-xs {
    font-size: $font-size * .75; //12px
}