// https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/mixins/_image.scss
@mixin img-responsive($display: block) {
  display: $display;
  max-width: 100%; // Part 1: Set a maximum relative to the parent
  height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}
//https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/
@mixin aspect-ratio($width, $height) {
    overflow: hidden;
    &:before {
        display: inline-block;
        content: "";
        padding-top: ($height / $width) * 100%;
    }
    img {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: auto;
    }
}
// 圖片列表mixin
@mixin make_img_outer() {
    text-align: left;
    overflow: hidden;
}
@mixin make_col($pic_length,$m_pic_length) {
    $outer_W: 100%;
    $pic_col: $pic_length;
    $pic_Margin: 1%;
    $pic_W: ($outer_W/$pic_col)-($pic_Margin*2);
    position: relative;
    margin: $pic_Margin;
    display: block;
    padding: 0;
    float: left;
    width: $pic_W;
    overflow: hidden;
    @include box-sizing(border-box);
    @include screen('mobile') {
        float:none;
        display: inline-block;
        $outer_W: 100%;
        $pic_col: $m_pic_length;
        $pic_Margin: 1%;
        $pic_W: ($outer_W/$pic_col)-($pic_Margin*2);
        width: $pic_W;
        margin:$pic_Margin auto;
    }
    img {
        position: absolute;
        top: 0;
        left: 0;
    }
}

