//https://codepen.io/iMarkup/pen/LEjMZN
@mixin text-overflow($overflow: ellipsis) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: $overflow; // values are: clip, ellipsis, or a string
}
//範例：
// p {
//   background-color: $gray;
//   color: white;
//   padding: 10px 20px;
//   width: 300px;
//   margin: 0 auto;
//   @include text-overflow;
// }
// p{
// 	@include text-overflow;
// }